/* ===== Variables ===== */
@robotoCon: 'Roboto Condensed', sans-serif;
@lato: 'Lato', sans-serif;
@rale: 'Raleway', sans-serif;

@orange: #c88b36;
@m-gray: #4f5052;
@l-gray: #808184;
@vl-gray: #dfe4eb;
@ml-gray: #c7cbd1;
@teal: #499ba6;

/* ===== Typography ===== */
html, body{
	font-family: @lato;
	font-size: 20px;
	h1, h2, h3, h4, h5, h6{
		font-family: @rale;
		font-weight: 100;
	}
	h1{font-size: 72px;}
	h2{font-size: 64px;}
	h3{font-size: 56px;}
	h4{font-size: 46px;}
	h5{font-size: 38px;}
	h6{font-size: 24px;}
}

.site-wrapper{
	position: relative;
	height: auto;
	width: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

/* ===== Color Settings ===== */
.orange{color: @orange !important;}

/* ====== Buttons ===== */
.clear-btn{
	height: auto;
	width: auto;
	display: inline-block;
	border:1px solid black;
	color: black;
	text-decoration: none !important;
	text-transform: uppercase;
	padding: 10px 20px;
	transition: all .35s;
	font-family: @lato;
	font-size: 18px;
	letter-spacing: .1em;
	@media(min-width:1200px) and (max-width:1349px){
		font-size: 16px;
	}
	@media(min-width:992px) and (max-width:1199px){
		font-size: 14px;
		letter-spacing: .025em;
	}
	&:hover{
		cursor: pointer;
		background: black;
		color: white;
	}
}
.clear-o-btn{
	height: auto;
	width: auto;
	display: inline-block;
	border:1px solid @orange;
	color: @orange;
	text-decoration: none !important;
	text-transform: uppercase;
	padding: 10px 20px;
	transition: all .35s;
	font-family: @lato;
	font-size: 18px;
	letter-spacing: .1em;
	&:hover{
		cursor: pointer;
		background: @orange;
		color: white;
	}
}
.black-btn{
	height: auto;
	width: auto;
	display: inline-block;
	border:1px solid black;
	color: white;
	background: black;
	text-decoration: none !important;
	text-transform: uppercase;
	padding: 10px 20px;
	transition: all .35s;
	font-family: @lato;
	font-size: 18px;
	letter-spacing: .1em;
	&:hover{
		cursor: pointer;
		background: white;
		color: black;
		border: 1px solid white;
	}
}

/* ===== Form Elements ===== */
.form-input{
	position: relative;
	height: 60px;
	width: 100%;
	border: 1px solid white;
	background-color: transparent;
	color: white;
	padding: 0px 15px;
}
/* ===== Bootstrap Changes ===== */
.container{
	@media(min-width: 1350px) and (max-width:1499px){
		max-width: 1300px;
	} 
	@media(min-width:1500px) and (max-width:1650px){
		max-width: 1450px;
	}
	@media(min-width: 1651px) and (max-width: 1799px){
		max-width: 1601px;
	}
	@media(min-width:1800px){
		max-width: 1750px;
	}
}

/* ===== Position Settings ===== */
.left-right-10{margin: 0px 10px;}

/* ===== Header Section ===== */
.header-container{
	position: relative;
	height: auto;
	width: 100%;
	background: white;
	padding: 0px;
	z-index: 9;
	.top-section{
		height: auto;
		width: 100%;
		border-bottom: 1px solid @vl-gray;
		text-transform: uppercase;
		padding: 0 15px;
		font-size: 16px;
		a{
			color: @l-gray;
			@media(max-width:767px){
				color: black;
			}
		}
		.top-left{
			padding: 15px 15px;
			@media(max-width:349px){
				font-size: 14px;
			}
		}
		.top-right{
			padding: 10px 10px 0px 10px;
			ul{
				padding: 0px;
				list-style: none;
				li{
					position: relative;
					display: inline-block;
					@media(max-width:767px){
						font-size: 14px;
					}
					&:after{
						content: '|';
						position: relative;
						color: @orange;
						margin-left: 10px;
						margin-right: 10px;
					}
					&:last-child{
						&:after{
							content: '';
							margin-right: 0px;
						}
					}
				}
				.social{
					a{
						font-size: 20px;
						margin-right: 15px;
						position: relative; 
						text-decoration: none;
						top: 3px;
						@media(max-width:767px){
							top: 0px;
						}
					}
				}
			}
		}
	}
	.lower-section{
		padding: 20px 35px;
		@media(max-width:991px){
			padding: 20px 15px;
		}
		.lower-left{
			
		}
		.lower-right{
			text-align: center;
			text-transform: uppercase;
			padding-top: 40px;
			@media(max-width:991px){
				padding-top: 0px;
			}
			a{
				color: black;
				letter-spacing: .2em;
				text-decoration: none;
				transition: all .15s;
				@media(min-width:992px) and (max-width:1380px){
					letter-spacing: .11em;
					font-size: 16px;
				}
				&:hover{
					border-bottom: 5px solid black;
				}
			}
			ul{
				padding: 0px;
				list-style: none;
				li{
					position: relative;
					display: inline-block;
					margin-right: 25px;
					@media(min-width: 1606px){
						margin-right: 65px;
					}
					@media(min-width:992px) and (max-width:1199px){
						margin-right: 15px;
					}
					&:last-child{
						margin-right: 0px;
					}
					&:hover{
						.sub-nav{
							display: block;
						}
					}
				}
				.sub-nav{
					position: absolute;
					height: auto;
					width: 100%;
					min-width: 250px;
					padding: 10px;
					background: white;
					text-align: left;
					left: -10px;
					top: 26px;
					display: none;
					@media(min-width:992px) and (max-width:1199px){
						left: auto;
						right: -25px;
						text-align: right;
						min-width: 200px;
					}
					li{
						display: block;
						padding-bottom: 10px;
						margin-right: 15px;
					}
				}
			}
			.mobi-nav{
				position: relative;
				width: 100%;
				min-height: 65px;
				background: white;
				text-align: center;
				z-index: 99 !important;
				@media(min-width:992px){
					display: none;
				}
				.menu-btn-container{
					position: absolute;
					height: auto;
					width: auto;
					display: block;
					top: 10px;
					right: 15px;
					z-index: 5 !important;
					p{
						position: absolute;
						color: black;
						text-transform: uppercase;
						right: -10px;
						font-family: @robotoCon;
					}
					#top-bar{
						position: relative;
						height: 5px;
						width: 30px;
						background: black;
						margin-top: 0px;
					}
					#mid-bar{
						position: relative;
						height: 5px;
						width: 30px;
						background: black;
						margin-top: 5px;
					}
					#low-bar{
						position: relative;
						height: 5px;
						width: 30px;
						background: black;
						margin-top: 5px;
					}
					.hideBar{
						animation: .5s linear forwards alternate hideBar;
					}
					.topDown{
						position: absolute;
						animation: .5s linear forwards alternate topDown;
					}
					.topUp{
						position: absolute;
						animation: .5s linear forwards alternate topUp;
					}
					.lowUp{
						position: absolute;
						animation: .5s linear forwards alternate lowUp;
					}
					.lowDown{
						position: absolute;
						animation: .5s linear forwards alternate lowDown;
					}
					@keyframes topDown{
						0%{
							top: 0px;
							transform: rotate(0deg);
						}
						25%{
							top: 10px;
							transform: rotate(0deg);
						}
						50%{
							top: 10px;
							transform: rotate(0deg);
						}
						75%{
							top: 10px;
							transform: rotate(0deg);
						}
						100%{
							top: 10px;
							transform: rotate(45deg);
						}
					}
					@keyframes lowUp{
						0%{
							top: 0px;
							transform: rotate(0deg);
						}
						25%{
							top: -10px;
							transform: rotate(0deg);
						}
						50%{
							top: -10px;
							transform: rotate(0deg);
						}
						75%{
							top: -10px;
							transform: rotate(0deg);
						}
						100%{
							top: -10px;
							transform: rotate(-45deg);
						}
					}
					@keyframes topUp{
						0%{
							top: 10px;
							transform: rotate(45deg);
						}
						25%{
							top: 10px;
							transform: rotate(0deg);
						}
						50%{
							top: 10px;
							transform: rotate(0deg);
						}
						75%{
							top: 10px;
							transform: rotate(0deg);
						}
						100%{
							top: 0px;
							transform: rotate(0deg);
						}
					}
					@keyframes lowDown{
						0%{
							top: -10px;
							transform: rotate(-45deg);
						}
						25%{
							top: -10px;
							transform: rotate(0deg);
						}
						50%{
							top: -10px;
							transform: rotate(0deg);
						}
						75%{
							top: -10px;
							transform: rotate(0deg);
						}
						100%{
							top: 0px;
							transform: rotate(0deg);
						}
					}
					@keyframes hideBar{
						0%{
							visibility: visible;
						}
						25%{
							visibility: visible;
						}
						50%{
							visibility: visible;
						}
						75%{
							visibility: hidden;
						}
						100%{
							visibility: hidden;
						}
					}
				}
			}
		}
		.mobi-menu{
			position: absolute;
			top: 0px;
			left: 0px;
			height: auto;
			width: 100vw;
			background: white;
			z-index: 98 !important;
			text-align: center;
			padding-top: 10px;
			display: none;
			overflow: auto;
			border-top: 1px solid black;
			.mobi-link-container{
				position: relative;
				height: auto;
				padding-bottom: 0px;
				padding-top: 10px;
				&:after{
					content: '';
					position: relative;
					height: 50px;
					width: 100px;
				}
				p{
					border-bottom: 1px solid @ml-gray;
					padding-bottom: 25px;
					padding-top: 5px;
					margin-top: 0px;
					line-height: 0px;
				}
			}
			a{
				letter-spacing: .05em;
				color: black;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}

/* ===== Main Banner Area ==== */
.banner-container{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	padding: 0px;
	.banner-area{
		position: relative;
		height: auto;
		width: 100%;
		top: 0px;
		left: 0px;
		.slider{
			position: relative;
			height: auto;
			width: 100%;
			top: 0px;
			left: 0px;
			img{
				position: relative;
				z-index: 1;
			}
			.banner-text-container{
				position: absolute;
				z-index: 2;
				display: inline-block;
				height: auto;
				width: 100%;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				color: white;
				text-align: center;
				@media(max-width:767px){
					top: 70%;
				}
				h1{
					font-size: 5vw;
					font-weight: 100;
					@media(max-width:767px){
						font-size: 40px;
					}
				}
			}
		}
	}
}

/* ===== Callout Area ===== */
.callouts-container{
	position: relative;
	height: auto;
	width: auto;
	.callout{
		position: relative;
		padding: 0px;
		display: block;
		overflow: hidden;
		@media(min-width:768px){
			&:nth-child(2){
				.callout-text-container{
					top: auto;
					bottom: 0px;
				}
			}
			&:hover{
				cursor: pointer;
				img{
					transform: scale(1.1);
				}
			}
		}
		img{
			height: auto;
			width: 100%;
			position: relative;
			z-index: 1;
			transition: all .35s;
		}
		.callout-text-container{
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 2;
			color: white;
			padding-left: 40px;
			padding-top: 25px;
			padding-bottom: 25px;
			h2{
				font-size: 3vw;
				font-weight: 100;
				@media(max-width:767px){
					font-size:30px;
				}
			}
			p{
				font-size: 1vw;
				font-family: @lato;
				letter-spacing: .05em;
				text-transform: uppercase;
				@media(max-width:767px){
					font-size: 16px;
				}
			}
		}
	}
}

/* ===== HP Events and Deals ===== */
.deals-events-container{
	padding-top: 100px;
	padding-bottom: 100px;
	@media(max-width:767px){
		padding-top: 50px;
		padding-bottom: 0px;
	}
	h2{
		font-size: 42px;
		padding-bottom: 40px;
	}
	h6{
		font-family: @lato;
	}
	.hp-deals-events{
		.date{
			font-size: 14px;
			font-weight: 900;
			font-family: @lato;
			letter-spacing: .05em;
			padding-bottom: 0px;
			margin-bottom: 0px;
		}
		.row{
			border-bottom: 1px solid @ml-gray;
			position: relative;
			height: auto;
			padding-top: 15px;
			padding-bottom: 15px;
			&:last-child{
				border-bottom: none;
			}
		}
		.store{
			position: absolute;
			display: table;
			height: 100%;
			width: 100%;
			text-align: right;
			padding-right: 15px;
			@media(max-width:767px){
				position: relative;
				text-align: center;
				display: block;
			}
			.orange{
				display: table-cell;
				vertical-align: middle;
				font-family: @rale;
				font-weight: 100;
				font-size: 1.5vw;
				text-align: right;
				@media(min-width:1600px){
					font-size: 24px;
				}
				@media(max-width:767px){
					font-size: 20px;
					display: block;
					text-transform: uppercase;
					letter-spacing: .05em;
					text-align: center;
				}
			}
		}
		.clear-btn{
			float: left;
			@media(max-width:767px){
				float: none;
				margin: 15px auto 50px auto;
			}
		}
	}
}

.seo-container{
	height: auto;
	width: 100%;
	position: relative;
	padding: 175px 15px;
	background: url(img/seo-bg.jpg) no-repeat;
	background-size: cover;
	color: white;
	@media(max-width:767px){
		background: white;
		background-size: auto;
		color: black;
		padding: 20px 0px 50px;
		h4{
			font-size: 26px;
			font-weight: 400;
			padding-top: 15px;
		}
	}
	p{
		font-size: 20px;
		padding-top: 30px;
		font-weight: 400;
	}
	.clear-btn{
		color: white;
		border: 1px solid white;
		text-transform: uppercase;
		padding: 10px 25px;
		margin-top: 60px;
		&:hover{
			border: 1px solid black;
		}
	}
}

.subscribe-container{
	background: @m-gray;
	padding: 50px 15px;
	color: white;
	@media(max-width:767px){
		text-align: center;
	}
	.footer-subscribe{
		position: relative;
		display: inline-block;
		height: auto;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		.black-btn{
			height: 60px;
			width: 100%;
			padding: 0px;
			text-align: center;
			@media(max-width:767px){
				margin-top: 15px;
			}
		}
	}
}

.footer-container{
	padding: 40px 15px;
	.footer-social{
		text-align: center;
		font-size: 40px;
		a{
			color: black;
			text-decoration: none;
			transition: color .35s;
			&:hover{
				color: @orange;
			}
		}
		ul{
			padding: 0px;
			list-style: none;
			li{
				display: inline-block;
				margin-right: 35px;
				&:last-child{
					margin-right: 0px;
				}
			}
		}
	}
	.hashtag{
		p{
			text-transform: uppercase;
			font-size: 2vw;
			color: @m-gray;
			@media(min-width:1600px){
				font-size: 32px;
			}
			@media(min-width: 768px) and (max-width:991px){
				font-size: 32px;
			}
			@media(max-width:767px){
				font-size: 28px;
				color: black;
			}
		}
	}
	.footer-nav{
		text-align: center;
		padding-top: 50px;
		a{
			color: black;
			text-decoration: none;
			transition: all .15s;
			letter-spacing: .2em;
			text-transform: uppercase;
			font-size: 16px;
			@media(min-width:768px){
				&:hover{
					border-bottom: 5px solid black;
				}
			}
			@media(min-width:768px) and (max-width:991px){
				font-size: 14px;
				letter-spacing: .1em;
			}
		}
		ul{
			list-style: none;
			padding: 0px;
			li{
				display: inline-block;
				margin-right: 65px;
				@media(max-width:767px){
					display: block;
					border-top: 1px solid @ml-gray;
					padding: 5px 0px 8px 0px;
					margin-right: 0px;
				}
				@media(min-width:768px) and (max-width:991px){
					margin-right: 15px;
				}
				&:last-child{
					margin-right: 0px;
					@media(max-width:767px){
						border-bottom: 1px solid @ml-gray;
					}
				}
			}
		}
	}
	.footer-address{
		margin-top: 50px;
		color: @m-gray;
		@media(max-width:767px){
			text-align: center;
		}
		a{
			color: @m-gray;
			text-decoration: none;
			transition: color .25s;
			@media(max-width:767px){
				color: black;
			}
			@media(min-width:768px){
				&:hover{
					color: black;
				}
			}
		}
	}
	.copy-container{
		color: @m-gray;
		font-size: 16px;
		text-align: right;
		margin-top: 50px;
		@media(max-width:767px){
			text-align: center;
			color: black;
		}
		a{
			color: @m-gray;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: .1em;
			line-height: 20px;
			transition: color .25s;
			margin-left: 45px;
			text-decoration: none;
			@media(max-width:767px){
				color: black;
				margin: 0px;
				font-size: 16px;
			}
			&:first-child{
				margin-left: 0px;
			}
			&:hover{
				color: black;
			}
		}
		p{
			margin-top: 5px;
			@media(max-width:484px){
				font-size: 3.5vw;
			}
			@media(min-width:485px) and (max-width:767px){
				font-size: 16px;
			}
		}
	}
}

/* ===== Sub Pages ==== */
.sub-back-container{
	position: relative;
	height: auto;
	padding: 20px 15px;
	background: @m-gray;
	a{
		color: white;
		font-size: 16px;
		letter-spacing: .2em;
		text-transform: uppercase;
		text-decoration: none;
		transition: all .10s;
		&:hover{
			border-bottom: 2px solid white;
		}
	}
}

.detail-container{
	padding: 100px 0px;
	@media(max-width:767px){
		padding: 30px 0px;
	}
	.detail-images{
		position: relative;
		height: auto;
		width: 100%;
		.slide-nav{
			position: absolute;
			height: 1px;
			width: 100%;
			z-index: 2;
			top: 35%;
			transform: translateY(-50%);
			font-size: 30px;
			font-weight: 100;
			@media(max-width:767px){
				display: none;
			}
			.prev{
				position: absolute;
				left: 0px;
				&:hover{
					cursor: pointer;
					color: @orange;
				}
			}
			.next{
				position: absolute;
				right: 0px;
				&:hover{
					cursor: pointer;
					color: @orange;
				}
			}
		}
		.detail-slide{
			position: relative;
			height: auto;
			width: 85%;
			margin: 0 auto;
			@media(max-width:767px){
				width: 100%;
			}
			.owl-dots{
				text-align: center;
				.owl-dot{
					height: 12px;
					width: 12px;
					background: white;
					border: 2px solid black;
					display: inline-block;
					margin-left: 3px;
					margin-right: 3px;
				}
				.active{
					background: black;
				}
			}
		}
	}
	.store-name{
		color: @orange;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: .05em;
		text-transform: uppercase;
		@media(min-width:768px) and (max-width:991px){
			font-size: 16px;
		}
		@media(max-width:767px){
			font-size: 14px;
		}
	}
	.title{
		border-bottom: 2px solid @vl-gray;
		h3{
			font-weight: 400 !important;
			font-size: 4vw;
			@media(min-width:1500px){
				font-size: 60px;
			}
			@media(max-width:767px){
				font-size: 24px;
			}
		}
	}
	.details{
		padding-top: 15px;
		.date{
			font-size: 20px;
			font-weight: bold;
		}
		.description{
			font-size: 20px;
			padding-top: 15px;
		}
		.button-container{
			position: relative;
			padding-top: 50px;
			padding-bottom: 35px;
			border-bottom: 1px solid @vl-gray;
			@media(max-width:767px){
				padding-bottom: 15px;
			}
			.clear-btn{
				margin-right: 20px;
				font-size: 18px;
				@media(min-width:992px) and (max-width:1199px){
					font-size: 16px;
				}
				@media(min-width:768px) and (max-width:991px){
					font-size: 12px;
					padding: 5px 10px;
					margin-right: 10px;
				}
				@media(max-width:767px){
					font-size: 16px;
					width: 100%;
					text-align: center;
					margin-bottom: 15px;
				}
				&:last-child{
					margin-right: 0px;
				}
			}
		}
	}
	.share-container{
		position: relative;
		text-align: right;
		padding-top: 25px;
		font-family: @robotoCon;
		font-weight: bold;
		font-size: 14px;
		text-transform: uppercase;
		@media(max-width:767px){
			text-align: center;
		}
		a{
			color: black;
		}
		ul{
			padding: 0px;
			list-style: none;
			li{
				display: inline-block;
				margin-left: 35px;
				@media(min-width:768px) and (max-width:991px){
					margin-left: 10px;
				}
				&:first-child{
					margin-left: 0px;
				}
			}
		}
		.fas, .fab{
			position: relative;
			top: 2px;
			font-size: 20px; 
			color: @orange;
			font-weight: 400;
			margin-right: 5px;
		}
		.fa-print, .fa-envelope{
			font-weight: bold;
		}
	}
	.clear-o-btn{
		font-size: 27px;
		margin-top: 75px;
		padding: 10px 40px;
		@media(min-width:768px) and (max-width:991px){
			font-size: 20px;
		}
		@media(max-width:767px){
			font-size: 18px;
			width: 100%;
			text-align: center;
			margin-top: 30px;
		}
	}
}

.sub-hero-container{
	position: relative;
	padding: 0px;
	.sub-hero-img{
		position: relative;
		display: block;
		width: 100vw;
		height: auto;
		z-index: 1;
		@media(max-width:767px){
			height: 250px;
			width: auto;
		}
	}
	.sub-hero-text{
		color: white;
		position: absolute;
		bottom: 80px;
		width: 100%;
		text-align: center;
		font-size: 64px;
		z-index: 2;
		@media(min-width:768px) and (max-width:991px){
			bottom: 50px;
			h2{
				font-size: 56px;
			}
		}
		@media(max-width:767px){
			h2{
				font-size: 30px;
			}
		}
	}
}
.deal-event-container{
	.picture-grid{
		padding-top: 75px;
		padding-bottom: 100px;
		@media(max-width:767px){
			padding-top: 25px;
			padding-bottom: 50px;
		}
	}
}
.store-detail{
	padding-top: 75px;
	padding-bottom: 125px;
	.store-name{
		font-weight: 400;
		margin-bottom: 50px;
	}
	.store-info{
		h5{
			text-transform: uppercase;
			font-size: 26px;
		}
		p{
			font-size: 20px;
			line-height: 24px;
			margin: 0px;
		}
		a{
			color: black;
			&:hover{
				text-decoration: underline;
			}
		}
		ul{
			list-style: none;
			padding: 0px;
			li{
				display: inline-block;
				margin-right: 20px;
				font-size: 30px;
				&:last-child{
					margin-right: 0px;
				}
			}
		}
	}
	.store-desc{
		margin-top: 70px;
	}
	.events{
		margin-top: 75px;
	}
	.event-deal-cards{
		position: relative;
		.col-12{
			padding: 0px;
			margin: 0px;
		}
		.card-container{
			position: relative;
			height: auto;
			width: auto;
			display: inline-block;
			left: 50%;
			transform: translateX(-50%);
			@media(max-width:767px){
				left: -5px;
				transform: translateX(0%);
			}
			.card{
				position: relative;
				display: inline-block;
				width: 300px;
				float: left;
				margin-right: 7px;
				margin-left: 7px;
				@media(max-width:767px){
					width: 100%;
					max-width: 100%;
				}
				.card-body{
					.store-name{
						margin-bottom: 5px;
					}
				}
			}
		}
	}
	.deals{
		margin-top: 75px;
	}
	.map-container{
		position: relative;
		margin-top: 50px;
	}
	.trends{
		margin-top: 75px;
	}
	.trend-cards{
		.card-container{
			position: relative;
			height: auto;
			width: auto;
			display: inline-block;
			left: 50%;
			transform: translateX(-50%);
			@media(max-width:767px){
				left: -5px;
				transform: translateX(0%);
			}
			.card{
				position: relative;
				display: inline-block;
				width: auto;
				max-width: 350px;
				float: left;
				margin-right: 7px;
				margin-left: 7px;
				@media(max-width:767px){
					width: 100%;
					max-width: 100%;
				}
				.card-body{
					.store-name{
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}
.tab-nav-container{
	position: relative;
	height: 50px;
	margin-top: -25px;
	z-index: 5;
	ul{
		list-style: none;
		padding: 0px;
		li{
			display: inline-block;
			text-transform: uppercase;
			height: 50px;
			width: 130px;
			background: white;
			border: 1px solid @l-gray;
			border-right: none;
			margin: 0px;
			font-size: 24px;
			letter-spacing: .1em;
			padding-top: 4px;
			color: #333336;
			transition: all .35s;
			margin-left: -2px;
			margin-right: -2px;
			&:hover{
				cursor: pointer;
				background: black;
				color: white;
			}
			&:last-child{
				border-right: 1px solid @l-gray;
			}
		}
		.active-view{
			background: black;
			color: white;
		}
	}
}
.search-container{
	position: relative;
	margin-top: 50px;
	z-index: 2;
	.icon{
		position: absolute;
		top: 2px;
		left: 10px;
		font-size: 24px;
		z-index: 2;
	}
	.form-field{
		position: relative;
		height: 40px;
		width: 100%;
		font-size: 18px;
		color: @m-gray;
		padding-left: 40px;
		z-index: 1;
		border: 1px solid @l-gray;
	}
	.search-results{
		position: absolute;
		top: 100%;
		left: 0;
		height: auto;
		width: 100%;
		padding: 10px 10px 0px;
		font-size: 18px;
		text-transform: uppercase;
		border: 1px solid @l-gray;
		border-top: none;
		background: white;
		display: none;
		a{
			color: black;
			text-decoration: none;
			transition: color .35s;
			&:hover{
				color: @l-gray;
			}
		}
		ul{
			list-style: none;
			padding: 0px;
			li{
				display: block;
				padding: 5px;
			}
		}
	}
	.custom-select{
		position: relative;
		width: 100%;
		height: 40px;
		border: 1px solid @l-gray;
		border-radius: 0px;
	}
	.down-icon{
		position: absolute;
		height: 15px;
		width: 15px;
		background: red;
		top: 12px;
		right: 25px;
		font-size: 24px;
		.fas{
			position: relative;
			top: -10px;
		}
	}
}
.store-grid-container{
	position: relative;
	margin-top: 75px;
	margin-bottom: 90px;
	z-index: 1;
	.store-grid{
		.grid-container{
			position: relative;
			height: auto;
			width: 100%;
			display: inline-block;
			left: 50%;
			transform: translateX(-50%);
			.grid-item{
				position: relative;
				//height: 17.5vw;
				//width: 17.5vw;
				width: 20%;
				height: 17.5vw;
				max-width: 343px;
				max-height: 343px;
				float: left;
				border-top: 1px solid #dfe4eb;
				border-left: 1px solid #dfe4eb;
				border-right: 1px solid #dfe4eb;
				border-bottom: 1px solid #dfe4eb;
				@media(min-width:768px) and (max-width:991px){
					width: 25%;
					height: 20vw;
				}
				&:hover{
					cursor: pointer;
					img{
						@media(min-width:992px){
							width: 70%;
							-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
							filter: grayscale(0%);
						}
					}
				}
				img{
					position: absolute;
					width: 60%;
					height: auto;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    				filter: grayscale(100%);
					transition: all .35s;
					z-index: 1;
				}
				
			}
		}
	}
}
.card{
	margin-top: 25px;
	padding: 10px 10px;
	border-radius: 0px;
	text-align: center;
	.card-body{
		position: relative;
		@media(min-width:768px) and (max-width:991px){
			min-height: 160px;
		}
		@media(min-width:992px) and (max-width:1499px){
			min-height: 180px;
		}
		.store-name{
			font-size: 14px;
			font-weight: 900;
			color: @orange;
			text-transform: uppercase;
		}
		.description{
			font-size: 24px;
			font-weight: 100;
			font-family: @rale;
			line-height: 24px;
			color: black;
		}
		.date{
			font-size: 18px;
			color: black;
			padding-top: 10px;
		}
	}
}
.status{
	position: absolute;
	top: 15px;
	left: 50%;
	height: auto;
	width: 150px;
	transform: translateX(-50%);
	display: inline-block;
	text-align: center;
	font-family: @lato;
	font-weight: 900;
	font-size: 13px;
	letter-spacing: .1em;
	text-transform: uppercase;
	padding: 5px 10px;
	z-index: 2;
	@media(min-width:768px) and (max-width:991px){
		top: 5px;
		font-size: 12px;
		width: 130px;
	}
}
.now-open{
	color: white;
	background: @orange;
}
.coming-soon{
	color: white;
	background: @teal;
}
.relocated{
	color: white;
	background: #999;
}
.new-location{
	color: white;
	background: #d1b084;
}
.closing-soon{
	color: white;
	background: #c85136;
}

/* ===== Display Settings ===== */
.hidden{display: none !important;}
.hidden-xs {display: default; @media(max-width:767px){display: none !important;}}
.hidden-sm {display: default; @media(min-width:768px) and (max-width:991px){display: none !important;}}
.hidden-md {display: default; @media(min-width:992px) and (max-width:1199px){display: none !important;}}
.hidden-lg {display: default; @media(min-width:1200px){display: none !important;}}
.visible{display: block !important;}
.visible-xs {@media(min-width:768px){display: none !important;} @media(max-width:767px){display: block !important;}}
.visible-sm {display: none !important; @media(min-width:768px) and (max-width:991px){display: block !important;}}
.visible-md {display: none !important; @media(min-width:992px) and (max-width:1199px){display: block !important;}}
.visible-lg {display: none !important; @media(min-width:1200px){display: block !important;}}

.down-50{
	margin-top: 50px;
}
.down-25{
	margin-top: 25px;
}
.no-padding{
	padding: 0px !important;	
}
.extra-padding{
	padding-left: 30px;
}


