 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpyg-F8fWvpy3Fob0wRL0SWraH7nntf2o">
 </script>

 <% retailer = Retailer.where(" slug = ? AND property_id = ? ",params[:retailer_id],@property.id).first %>

<script>
window.retailer_slug = "<%= retailer.retailer_id %>";
var screen_width = window.innerWidth
|| document.documentElement.clientWidth
|| document.body.clientWidth;

var screen_height = window.innerHeight
|| document.documentElement.clientHeight
|| document.body.clientHeight;
</script>

<div class="container-fluid sub-back-container">
   <div class="row">
      <div class="col-12">
         <a href="/directory"><span class="fas fa-angle-left"></span> Back to shop</a>
      </div>
   </div>
</div>
<% if !retailer.blank? %>
<% title = @website.name + " | " + page_title + " | " + retailer.name + " | " %>
<% content_for :title, title %>
<div class="container-fluid store-detail">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h3 class="store-name"><%= retailer.name %></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-5 offset-md-2">
				<% if !retailer.logo_1_url.blank? %>
				<img src="<%= retailer.logo_1_url %>" alt="<%= retailer.name %>" class="img-fluid" />
			</div>
			<div class="col-12 col-md-5">
				<div class="store-info">
      				<% if !retailer.open_hrs.blank? %>
						<h5>hours</h5>
						<p><%= retailer.open_hrs %></p>
       				<% end %>
       				<% if !retailer.main_phn_num.blank? %>
       					<h5 class="down-50">phone number</h5>
       					<a href="tel:<%= retailer.main_phn_num %>"><%= retailer.main_phn_num %></a>
       				<% end %>
       				<% if !retailer.facebook_url.blank? || !retailer.twitter_name.blank? || !retailer.pinterest_url.blank? || !retailer.youtube_url.blank? %>
       					<h5 class="down-50">links</h5>
       						<ul>
							<% if !retailer.facebook_url.blank? %>
						  		<li>
						  			<%= link_to "#{retailer.facebook_url}" do %>
										<span class="fab fa-facebook"></span>
							  		<% end %>
								</li>
							<% end %>
							<% if !retailer.twitter_name.blank? %>
						  		<li>
									<%= link_to "#{retailer.twitter_name}" do %>
										<span class="fab fa-twitter"></span>
							  		<% end %>
								</li>
							<% end %>
							<% if !retailer.pinterest_url.blank? %>
						 		<li>
							  		<%= link_to "#{retailer.pinterest_url}" do %>
										<span class="fab fa-pinterest"></span>
							  		<% end %>
								</li>
							<% end %>
							<% if !retailer.instagram_url.blank? %>
						  		<li>
							  		<%= link_to "#{retailer.instagram_url}" do %>
										<span class="fab fa-instrgram"></span>
							 	 	<% end %>
								</li>
							<% end %>
							<% if !retailer.youtube_url.blank? %>
						  		<li>
							  		<%= link_to "#{retailer.youtube_url}" do %>
										<span class="fab fa-youtube"></span>
							  		<% end %>
								</li>
							<% end %>
        <div class="col-sm-4 store-info">
         <% if !retailer.option.blank? %>
            <% if !retailer.expiration_date.blank? %>
              <% if retailer.expiration_date >= Date.today %>
                <div class="info-title">Status</div>
                <div class="info-status"><%= retailer.option.gsub(/_/," ").titleize %></div>
              <% end %>
            <% end %>
         <% end %>
         <% suites = retailer.suites %>
          <% suites.each do |suite| %>
            <% if !suite.location_text.blank? %>
              <div class="info-title">location</div>
              <div class="info-info"><%= suite.location_text %></div>
            <% end %>
            <% if !suite.parking_info.blank? %>
              <div class="info-title">Best Entrance</div>
              <div class="info-info"><%= suite.parking_info %></div>
            <% end %>
          <% end %>

          <% if !retailer.menu_weblink.blank? %>
                  <div class="info-title"><%= link_to "Menu", retailer.menu_weblink, :target => "_blank" %></div>
                  <div class="info-info">
                    <%#= link_to retailer.menu_weblink, retailer.menu_weblink, :target => "_blank" %>
                  </div>
                <% end %>

          <% if !retailer.restaurant_reserv_weblink.blank? %>
            <div class="info-title"><%= link_to "Make Reservations", retailer.restaurant_reserv_weblink, :target => "_blank" %></div>
          <% end %>
                  
          <% if !retailer.facebook_url.blank? || !retailer.twitter_name.blank? || !retailer.pinterest_url.blank? || !retailer.youtube_url.blank? %>
          <div class="info-title">social media</div>
          <% end %>
          <div class="info-social">
            <% if !retailer.facebook_url.blank? %>
              <%= link_to "#{retailer.facebook_url}" do %>
                <span class="fa fa-facebook-square"></span>
              <% end %>
            <% end %>
            <% if !retailer.twitter_name.blank? %>
              <%= link_to "#{retailer.twitter_name}" do %>
                <span class="fa fa-twitter"></span>
              <% end %>
            <% end %>
            <% if !retailer.pinterest_url.blank? %>
              <%= link_to "#{retailer.pinterest_url}" do %>
                <span class="fa fa-pinterest"></span>
              <% end %>
            <% end %>
            <% if !retailer.instagram_url.blank? %>
              <%= link_to "#{retailer.instagram_url}" do %>
                <span class="fa fa-instrgram"></span>
              <% end %>
            <% end %>
            <% if !retailer.youtube_url.blank? %>
              <%= link_to "#{retailer.youtube_url}" do %>
                <span class="fa fa-youtube-play"></span>
              <% end %>
            <% end %>
          </div>
        </div>
          <div class="col-sm-4 info-btns">
          <% events = @website.active_events_frontend("",[retailer.id],"","","",false) %>
               <% if !events.blank? %>
                 <div>
                    <a href="#events">
                       <button class="info-btn">
                          <i class="fa fa-calendar"></i> view events
                       </button>
                    </a>
                 </div>
                 <% end %>
                 <% retailer_spotzot = [] %>
                 <% deals = @website.active_deal_frontend("",[retailer.id],"","","",false) %>
                 <% if !deals.blank? || retailer_spotzot.any? %>
                 <div>
                    <a href="#deals">
                       <button class="info-btn">
                          <i class="fa fa-tag"></i> view deals
                       </button>
                    </a>
                 </div>
                 <% end %>
                 <% if retailer.suites.any? %>
                   <div class="hidden-xs">
                      <a href="#map">
                         <button class="info-btn">
                            <i class="fa fa-map-marker"></i> view on map
                         </button>
                      </a>
                   </div>
                 <div class="visible-xs hidden-sm map-button-wrapper">

            <button class=" mobile_map_pin btn info-btn" type="button" data-id="<%= retailer.id %>" data-toggle="modal" data-target="#myModalmap"> <i class="fa fa-map-marker"></i> view on map</button>
            <% end %>
            <!-- Modal -->
            <div class="modal fade modal-map" id="myModalmap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><i aria-hidden="true" class="fa fa-map view-icon"></i>Map View</h4>
                     </div>
                     <div class='modal-body'>

                     </div>
                  </div>
               </div>
            </div>
          </div>
        </div>
       </div>
       <% retailer_cat = retailer.categories %>
       <% if !retailer_cat.blank? %>
         <div class="container">
              <div class="col-lg-8 store-tags">
              <% count = retailer_cat.count %>
              <% i = 1 %>
              <% retailer_cat.each do |category| %>
                <%= link_to "/directory?category_id=#{ category.id }" do %>
                  <%= category.name %>
                  
                <% end %>
                <% if count != i %>
                    /
                <% end %>
                <% i = i + 1 %>
              <% end %>
              </div>
           </div>
         <% end %>
         <% if !retailer.description.blank? %>
          <div class="container">
           <div class="row">
              <div class="col-lg-12 store-desc">
                 <%= retailer.description.html_safe %>
              </div>
           </div>
		  </div>
         <% end %>
         <% events = @website.active_events_frontend("",[retailer.id],"","","",false) %>
         <% if !events.blank? %>
          <div class="row">
              <div class="col-lg-12 text-center info-event-header">
              <h2 name="events">EVENTS</h2>
                 <div class="divider"></div>
              </div>
          </div>
        
          <div class="container-fluid">
              <section class="more-container events" style="background:#FFF;" id="events">
               <div class="custom-nav-container">
                  <div class="events-prev"><span class="fa fa-angle-left"></span></div>
                  <div class="events-next"><span class="fa fa-angle-right"></span></div>
               </div>
                <div class="events-carousel owl-carousel more-slider">
                  <% events.each do |event| %>
                    <div class="item">
                      <% image = event.thumb_path %>

                      <%= link_to "/calendar/view/#{event.id}", class: "img-container img-small" do %>
                          <%= image_tag(image, class: "img-responsive u-img", alt: event.thumb_desc) %>
                      <% end %>
                          <div class="more-desc">
                            <% if event.retailer_id != -1 %>
                              <%= link_to "/directory/view/#{event.retailer(@property.id).slug}" do %>
                                <div class="title"><%= event.retailer(@property.id).name %></div>
                              <% end %>
                            <% end %>
                            <div class="body">
                              <%= link_to "/calendar/view/#{event.id}" do %>
                              <p><%= event.title %></p>
                            <% end %>
                              <% if event.is_date_display %>
                                <p class="up-10 expire">valid <%= date_range(event.start_at,event.end_at) %></p>
                              <% end %> 
                              <% if event.is_time_display %>
                                <p class="up-10 expire">TIME <%= time_range(event.start_time,event.end_time) %></p>
                              <% end %> 
                            </div>
                        </div>
                    </div>
                  <% end %>
                </div>
              </section>
          </div>
        <% end %>
      <script>
        $(document).ready(function(){
          var eventOwl = $('.events-carousel');
          eventOwl.owlCarousel({
           margin: 15,
           nav: false,
           dots: false,
           loop: false,
		   center: true,
           autoplay:4000,
           smartSpeed:2050,
           responsiveClass:true,
           responsive : {
             0: {
                items: 1,
             },
             768: {
              items: 3,
             },
             1200: {
              items: 4,
             }
           }
          });
          // Custom Navigation Events
          $(".events-next").click(function(){
             eventOwl.trigger('next.owl.carousel');
          });
          $(".events-prev").click(function(){
             eventOwl.trigger('prev.owl.carousel');
          });
        });
      </script>
    

	<% deals = @website.active_deal_frontend("",[retailer.id],"","","",false) %>
       <% if !deals.blank? || retailer_spotzot.any? %> 
      <div class="deals-spot container-fluid more-container" id="deals">
        <section class="deals-container">
           
            <div class="heading">deals</div>
            <span name="deals"></span>
            <div class="divider"></div>
             <div class="custom-nav-container">
                <div class="deal-prev"><span class="fa fa-angle-left"></span></div>
                <div class="deal-next"><span class="fa fa-angle-right"></span></div>
             </div>
            <br />
            <div id="fiatmRetailerDeals" class="owl-carousel deal-slider more-slider">
            <%if !deals.blank? %>
            <% deals.each do |deal| %>
              <div class="item">
                <% image = deal.thumb_path %>
                <%= link_to "/sales/view/#{deal.id}" do %>
                      <%= image_tag(image, class: "upcoming-img", alt: deal.thumb_desc) %>
                <% end %>
                <div class="more-desc">
                  <div class="body">
                    <%= link_to "/sales/view/#{deal.id}" do %>
                      <p><%= deal.title %></p>
                    <% end %>
                    <% if deal.is_date_display %>
                      <p class="up-10 expire">valid <%= date_range(deal.start_at,deal.end_at) %></p>
                    <% end %> 
                  </div>
                </div>
              </div>
             <% end %>
             <% end %> 
            <% if retailer_spotzot.any? %>
               <% retailer_spotzot.each do |retailer_deal| %>
                  <div class="item">
                      <% image = retailer_deal[0] %>
                      <%= link_to "/sales/view/?frame=#{retailer_deal[3]}" do %>
                        <%= image_tag(image, alt: retailer_deal[1].html_safe) %>
                      <% end %>
                      <div class="more-desc">                    
                        <%= link_to "/directory/view/#{retailer.slug}" do %>
                          <div class="title"><%= retailer_deal[1].html_safe %></div>
                        <% end %>                      
                        <div class="body">
                          <%= link_to "/sales/view/?frame=#{retailer_deal[3]}" do %>
                            <p><%= retailer_deal[1] %></p>
                          <% end %>                        
                            <p class="up-10 expire">valid <%= retailer_deal[2] %></p>
                        </div>
                      </div>
                  </div>
                <% end %> 
            <% end %> 
            </div>
         </section>    
      </div> 
      <% end %>
        <% if retailer.suites.any? %>
         <div class=" retailer_detail_map container hidden-xs" style="padding-top:50px;padding-bottom:50px;">
          <div class="row">
            <div class="col-sm-12 text-center view-heading">
              <div class="heading" name="map">map of location</div>
              <div class="divider"></div>
            </div>
          </div>
          <br />
          <section class="map-container" style="border:1px solid #999;padding-bottom:0px;">
            <div class="row">
               <div class="col-lg-12 text-center">
                  <br />
                 
                   <script type="text/javascript">
                   
            if (screen_width <= "767")
            {
              <% if !retailer.suites.blank? %>
               <% suite = retailer.suites.first %>
               <% if !suite.latitude.blank? && !suite.longitude.blank? %>
               <% mob_lat = suite.latitude.to_f %>
               <% mob_lng = suite.longitude.to_f %>
               <% else %>
               <% mob_lat = mob_lng = "" %>
               <% end %>
               <% end %>
              window.mob_lat = "<%= mob_lat %>";
              window.mob_lng = "<%= mob_lng %>";

              if (navigator.userAgent.match(/iPhone|iPad|iPod/i))
              {

                // $(".mobile_directory_map").on("click",function()
                // {
                //   $(".modal-body").html("<%= escape_javascript(render partial: 'includes/map_for_IOS') %>");
                // });

              $(document).on("click",".mobile_map_pin",function(){
              window.pin_click = true;
              suite_array = Array.new;
              $.get('/siteman/get_retailer_for_map_pin', { id: $(this).attr("data-id") }, function(data){
                  suite_array = data;
                  
                  $(".modal-body").html("<%= escape_javascript(render partial: 'includes/map_for_pin_IOS') %>");

              });
                
                                
            });

                   
          }
              else
              {
                // $(".mobile_directory_map").on("click",function()
                // {
                //   $(".modal-body").html("<%= escape_javascript(render partial: 'includes/retailer_suite_maps') %>");
                // });

              $(document).on("click",".mobile_map_pin",function(){
              
              window.pin_click = true;
              suite_array = Array.new;
              $.get('/siteman/get_retailer_for_map_pin', { id: $(this).attr("data-id") }, function(data){
                  suite_array = data;
                  
                  $(".modal-body").html("<%= escape_javascript(render partial: 'includes/map_for_pin') %>");

              });
                
                                
            });
            }
            
              // $(".modal-body").html("<%= escape_javascript render(:partial => 'includes/map', :locals => { :retailer => retailer }) %>");
            }
            else
            {
              $(".map-container").html("<%= escape_javascript render(:partial => 'includes/map', :locals => { :retailer => retailer }) %>");
            }
         </script>
               </div>
            </div>
            </section>
         </div>
      <% end %>
      
    
<% else %>
<% title = @website.name + " | " + page_title %>
<% content_for :title, title %>
  <p> Invalid Retailer Id. </p>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){

    var showmap = sessionStorage.getItem('showmap_directory');
    if (showmap) 
    {
      if($(".map-container").length)
      {
        $(window).scrollTop($('.map-container').offset().top);
      }
      sessionStorage.removeItem("showmap_directory");
    }
   
  $(document).on("click",".info-btn",function(){
          
          // svg_render();
      });
      
    $(".modal-map").on("shown.bs.modal", function () {

      // google.maps.event.trigger(map, "resize");
      // var reCenter = new google.maps.LatLng(<%= @website.properties.first.latitude.to_f %>, <%= @website.properties.first.longitude.to_f %> );
      // map.setCenter(reCenter);
    });

    $(function() {
              $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                  var target = $(this.hash);
                  var fromTop = $(".header-bottom").height()+35;
                  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                  if (target.length) {
                    $('html, body').animate({
                      scrollTop: $(target).offset().top - fromTop
                    }, 750);
                    return false;
                  }
                }
              });
          });
    });
</script> 
