<%= render "includes/headertag" %>
			<div class="container-fluid header-container">
				<div class="top-section">
					<div class="row">
						<div class="col-5 col-sm-5 col-lg-4 top-left">
							<a href="">open today: <span class="hidden-xs">10 am to 9 pm</span> <span class="fas fa-angle-right"></span></a>
						</div>
						<div class="col-7 col-sm-7 col-lg-8 text-right top-right">
							<ul class="hidden-xs hidden-sm">
								<li><a href="">500 Route 73 South, Marlton, NJ 08053</a></li>
								<li><a href="">Phone: 856.985.3846</a></li>
								<li class="social"><a href=""><span class="fab fa-facebook-f"></span></a><a href=""><span class="fab fa-twitter"></span></a><a href=""><span class="fab fa-instagram"></span></a></li>
							</ul>
							<ul class="hidden-md hidden-lg">
								<li class="social"><a href=""><span class="fab fa-facebook-f"></span></a><a href=""><span class="fab fa-twitter"></span></a><a href=""><span class="fab fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="lower-section">
					<div class="row">
						<div class="col-7 col-sm-4 col-xl-3 lower-left">
							<a href="/"><img src="images/logo.png" alt="The Promendade at Sagemore" class="img-fluid"></a>
						</div>
						<div class="col-5 col-sm-8 col-xl-9 lower-right">
							<ul class="hidden-xs hidden-sm">
								<li><a href="">shop</a></li>
								<li><a href="">dine</a></li>
								<li><a href="">deals</a></li>
								<li><a href="">events</a></li>
								<li><a href="">trends</a></li>
								<li><a href="">directions</a></li>
								<li>
									<a href="">info</a>
									<div class="sub-nav">
										<ul>
											<li><a href="">about us</a></li>
											<li><a href="">contact us</a></li>
											<li><a href="">jobs</a></li>
										</ul>
									</div>
								</li>
								<li><a href=""><span class="fas fa-search"></span></a></li>
							</ul>
							<!-- Mobile Nav -->
							<div class="mobi-nav" id="mobi-head">
								<div class="menu-btn-container">
									<div id="top-bar"></div>
									<div id="mid-bar"></div>
									<div id="low-bar"></div>
									<p>menu</p>
								</div>
							</div>
						</div>
					</div>
					<div class="mobi-menu">
						<div class="mobi-link-container">
							<a href=""><p>shop</p></a>
							<a href=""><p>dine</p></a>
							<a href=""><p>deals</p></a>
							<a href=""><p>events</p></a>
							<a href=""><p>trends</p></a>
							<a href=""><p>directions</p></a>
							<a href=""><p>info</p></a>
							<a href=""><p>about us</p></a>
							<a href=""><p>contact us</p></a>
							<a href=""><p>jobs</p></a>
							<a href=""><p>Terms &amp; Conditions</p></a>
							<a href=""><p>Privacy Policy</p></a>
						</div>
					</div>
					<script>
						$(document).ready(function(){
							mobiBtn();
						});
						function mobiBtn(){
							var isClicked = 0;
							$('.menu-btn-container').click(function(){
								if(isClicked==0){
									isClicked++;
									$('#top-bar').removeClass('topUp');
									$('#top-bar').addClass('topDown');
									$('#low-bar').removeClass('lowDown');
									$('#low-bar').addClass('lowUp');
									$('#mid-bar').addClass('hideBar');
									showMenu();
								}else{
									isClicked--;
									$('#top-bar').removeClass('topDown');
									$('#top-bar').addClass('topUp');
									$('#low-bar').removeClass('lowUp');
									$('#low-bar').addClass('lowDown');
									setTimeout(function(){
										$('#mid-bar').removeClass('hideBar');
									}, 300);
									hideMenu();
								}
							});
						}
						function showMenu(){
							var headerHeight = $('.header-container').height();
							$('.mobi-menu').css({'top': headerHeight});
							$('.mobi-menu').slideDown(500);
							$('.mobi-nav').addClass('nav-down');
						}
						function hideMenu(){
							$('.mobi-menu').slideUp(500);
						}
					</script>
					<!-- End Mobile Nav -->
				</div>
			</div>
			
			<div class="container-fluid sub-hero-container">
				<img src="images/sub-hero.jpg" class="sub-hero-img" alt="sub hero desc">
				<div class="sub-hero-text">
					<h2>There's more in store at The Promenade</h2>
				</div>
			</div>
			
			<div class="tab-nav-container container">
				<div class="row">
					<div class="col-12 text-center">
						<ul>
							<li class="view-option" id="show-list">list</li>
							<li class="view-option active-view" id="show-grid">grid</li>
							<li class="view-option" id="show-map">map</li>
						</ul>
					</div>
				</div>
				<script>
					$('.view-option').click(function(){
						$(this).addClass('active-view');
						$('.view-option').not($(this)).removeClass('active-view');
					});
				</script>
			</div>
			
			<div class="search-container container">
				<form>
					<div class="row">
						<div class="col-12 col-md-6 col-lg-3 offset-lg-3 no-padding">
							<label class="icon"><span class="fas fa-search"></span></label>
							<input type="text" name="retailer-name" id="retailer-search" class="form-field" placeholder="Search by Name">
							<div class="search-results">
								<ul>
									<li><a href="">AT&amp;T</a></li>
									<li><a href="">American Eagle Outfitters</a></li>
									<li><a href="">Ann Taylor</a></li>
									<li><a href="">Apple Store</a></li>
									<li><a href="">Banana Republic</a></li>
									<li><a href="">Chipotle</a></li>
									<li><a href="">Clarks</a></li>
									<li><a href="">Coach</a></li>
									<li><a href="">Francesca's</a></li>
									<li><a href="">Gymboree</a></li>
									<li><a href="">J. Jill</a></li>
									<li><a href="">Jos. A. Bank</a></li>
									<li><a href="">Loft</a></li>
								</ul>
							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-3 extra-padding">
							<select name="category" class="custom-select">
								<option value="">All Categories</option>
								<option value="dining">Dining</option>
								<option value="womens-fashion">Women's Fashion</option>
								<option value="mens-fashion">Men's Fashion</option>
								<option value="shoes">Shoes</option>
								<option value="jewelry">Jewelry</option>
								<option value="accessories">Accessories</option>
								<option value="health-beauty">Health &amp; Beauty</option>
							</select>
						</div>
					</div>
				</form>
				<script>
					$('#retailer-search').keyup(function(){
						$('.search-results').slideDown();
					});
				</script>
			</div>
			
			<div class="container-fluid store-grid-container">
				<div class="container store-grid">
					<div class="grid-container">
						<div class="grid-item">
							<div class="status now-open">now open</div>
							<img src="images/retailers/att.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<div class="status coming-soon">coming soon</div>
							<img src="images/retailers/AE-logo.png" alt="American Eagle">
						</div>
						<div class="grid-item">
							<div class="status relocated">Relocated</div>
							<img src="images/retailers/ann-taylor.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<div class="status new-location">New Location</div>
							<img src="images/retailers/apple.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<div class="status closing-soon">Closing Soon</div>
							<img src="images/retailers/br.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/chipotle.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/clarks.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/coach.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/fran.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/gymboree.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/jjill.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/j-bank.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/loft.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/lulu.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/orvis.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/pf.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/panera.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/pandora.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/sleep.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/soft.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/soma.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/talbots.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/vb.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/white-house.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/zoes.png" alt="AT&T">
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
<%= render "includes/footertag" %>