<%= render "includes/headertag" %>
			<div class="container-fluid header-container">
				<div class="top-section">
					<div class="row">
						<div class="col-5 col-sm-5 col-lg-4 top-left">
							<a href="">open today: <span class="hidden-xs">10 am to 9 pm</span> <span class="fas fa-angle-right"></span></a>
						</div>
						<div class="col-7 col-sm-7 col-lg-8 text-right top-right">
							<ul class="hidden-xs hidden-sm">
								<li><a href="">500 Route 73 South, Marlton, NJ 08053</a></li>
								<li><a href="">Phone: 856.985.3846</a></li>
								<li class="social"><a href=""><span class="fab fa-facebook-f"></span></a><a href=""><span class="fab fa-twitter"></span></a><a href=""><span class="fab fa-instagram"></span></a></li>
							</ul>
							<ul class="hidden-md hidden-lg">
								<li class="social"><a href=""><span class="fab fa-facebook-f"></span></a><a href=""><span class="fab fa-twitter"></span></a><a href=""><span class="fab fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="lower-section">
					<div class="row">
						<div class="col-7 col-sm-4 col-xl-3 lower-left">
							<a href="/"><img src="/presents/promenade/designs/images/logo.png" alt="The Promendade at Sagemore" class="img-fluid"></a>
						</div>
						<div class="col-5 col-sm-8 col-xl-9 lower-right">
							<ul class="hidden-xs hidden-sm">
								<li><a href="">shop</a></li>
								<li><a href="">dine</a></li>
								<li><a href="">deals</a></li>
								<li><a href="">events</a></li>
								<li><a href="">trends</a></li>
								<li><a href="">directions</a></li>
								<li>
									<a href="">info</a>
									<div class="sub-nav">
										<ul>
											<li><a href="">about us</a></li>
											<li><a href="">contact us</a></li>
											<li><a href="">jobs</a></li>
										</ul>
									</div>
								</li>
								<li><a href=""><span class="fas fa-search"></span></a></li>
							</ul>
							<!-- Mobile Nav -->
							<div class="mobi-nav" id="mobi-head">
								<div class="menu-btn-container">
									<div id="top-bar"></div>
									<div id="mid-bar"></div>
									<div id="low-bar"></div>
									<p>menu</p>
								</div>
							</div>
						</div>
					</div>
					<div class="mobi-menu">
						<div class="mobi-link-container">
							<a href=""><p>shop</p></a>
							<a href=""><p>dine</p></a>
							<a href=""><p>deals</p></a>
							<a href=""><p>events</p></a>
							<a href=""><p>trends</p></a>
							<a href=""><p>directions</p></a>
							<a href=""><p>info</p></a>
							<a href=""><p>about us</p></a>
							<a href=""><p>contact us</p></a>
							<a href=""><p>jobs</p></a>
							<a href=""><p>Terms &amp; Conditions</p></a>
							<a href=""><p>Privacy Policy</p></a>
						</div>
					</div>
					<script>
						$(document).ready(function(){
							mobiBtn();
						});
						function mobiBtn(){
							var isClicked = 0;
							$('.menu-btn-container').click(function(){
								if(isClicked==0){
									isClicked++;
									$('#top-bar').removeClass('topUp');
									$('#top-bar').addClass('topDown');
									$('#low-bar').removeClass('lowDown');
									$('#low-bar').addClass('lowUp');
									$('#mid-bar').addClass('hideBar');
									showMenu();
								}else{
									isClicked--;
									$('#top-bar').removeClass('topDown');
									$('#top-bar').addClass('topUp');
									$('#low-bar').removeClass('lowUp');
									$('#low-bar').addClass('lowDown');
									setTimeout(function(){
										$('#mid-bar').removeClass('hideBar');
									}, 300);
									hideMenu();
								}
							});
						}
						function showMenu(){
							var headerHeight = $('.header-container').height();
							$('.mobi-menu').css({'top': headerHeight});
							$('.mobi-menu').slideDown(500);
							$('.mobi-nav').addClass('nav-down');
						}
						function hideMenu(){
							$('.mobi-menu').slideUp(500);
						}
					</script>
					<!-- End Mobile Nav -->
				</div>
			</div>
			
			<div class="container-fluid banner-container">
				<div class="banner-area">
					<div class="slider owl-carousel">
						<div class="item">
							<img src="/presents/promenade/designs/images/slider/slide-1.jpg" alt="Slide 1 Desc." class=" hidden-xs">
							<img src="/presents/promenade/designs/images/slider/mobile/slide-1.jpg" alt="Mobile Slide 1 Desc" class="visible-xs">
							<div class="banner-text-container">
								<h1>Shopping...the way it SHOULD be</h1>
							</div>
						</div>
						<div class="item">
							<img src="/presents/promenade/designs/images/slider/slide-2.jpg" alt="Slide 2 Desc." class=" hidden-xs">
							<img src="/presents/promenade/designs/images/slider/mobile/slide-1.jpg" alt="Mobile Slide 1 Desc" class="visible-xs">
							<div class="banner-text-container">
								<h1>Shopping...the way it SHOULD be</h1>
							</div>
						</div>
						<div class="item">
							<img src="/presents/promenade/designs/images/slider/slide-3.jpg" alt="Slide 3 Desc." class=" hidden-xs">
							<img src="/presents/promenade/designs/images/slider/mobile/slide-1.jpg" alt="Mobile Slide 1 Desc" class="visible-xs">
							<div class="banner-text-container">
								<h1>Shopping...the way it SHOULD be</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="container-fluid callouts-container">
				<div class="row">
					<div class="col-12 col-sm-4 callout">
						<img src="/presents/promenade/designs/images/callouts/callout-1.jpg" alt="callout desc">
						<div class="callout-text-container">
							<h2>Shop</h2>
							<p>a great collection of places to shop</p>
						</div>
					</div>
					<div class="col-12 col-sm-4 callout">
						<img src="/presents/promenade/designs/images/callouts/callout-2.jpg" alt="callout desc">
						<div class="callout-text-container">
							<h2>Dine</h2>
							<p>fine &amp; casual dining options</p>
						</div>
					</div>
					<div class="col-12 col-sm-4 callout">
						<img src="/presents/promenade/designs/images/callouts/callout-3.jpg" alt="callout desc">
						<div class="callout-text-container">
							<h2>Trends</h2>
							<p>stay up to date with the latest</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="container deals-events-container">
				<div class="row text-center">
					<div class="col-12 col-md-5 hp-deals-events">
						<h2>Latest Deals</h2>
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="store">
									<div class="orange">
										Coach
									</div>
								</div>
							</div>
							<div class="col-12 col-md-8">
								<p class="date">May 4 - May 13</p>
								<h6>Shop Coach Mother's Day Sale!</h6>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="store">
									<div class="orange">
										Soft Surroundings
									</div>
								</div>
							</div>
							<div class="col-12 col-md-8">
								<p class="date">Apr. 27 - May 13</p>
								<h6>Mother's Day Topper at Soft Surroundings!</h6>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="store">
									<div class="orange">
										Redstone American Grill
									</div>
								</div>
							</div>
							<div class="col-12 col-md-8">
								<p class="date">May 13</p>
								<h6>Spend Mother's Day at Redstone American Grill!</h6>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="store">
									<div class="orange">
										Soma Intimates
									</div>
								</div>
							</div>
							<div class="col-12 col-md-8">
								<p class="date">Apr. 4 - May 13</p>
								<h6>Buy $100 Worth of Gift Cards, Get $20 Money Card at Soma Intimates!</h6>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-8 offset-md-4">
								<a href="" class="clear-btn">See More Deals</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5 offset-md-1 hp-deals-events">
						<h2>Events &amp; Promotions</h2>
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="store">
									<div class="orange">
										Sur La Table
									</div>
								</div>
							</div>
							<div class="col-12 col-md-8">
								<p class="date">May 4 - May 13</p>
								<h6>Sur La Table is offering cooking classes for all different cuisines!</h6>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="store">
									<div class="orange">
										Altar'd State
									</div>
								</div>
							</div>
							<div class="col-12 col-md-8">
								<p class="date">Apr. 27 - May 13</p>
								<h6>Altar’d State’s is having their Mom’s Power Hour Event!</h6>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="store">
									<div class="orange">
										Orvis
									</div>
								</div>
							</div>
							<div class="col-12 col-md-8">
								<p class="date">May 13</p>
								<h6>Learn to Fly Fish for Free with Orvis!</h6>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-4">
								
							</div>
							<div class="col-12 col-md-8">
								<p class="date">Apr. 4 - May 13</p>
								<h6>Electric Vehicle Charging Station!</h6>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-6 offset-md-4">
								<a href="" class="clear-btn">See More Events</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="container-fluid seo-container" id="para">
				<img src="/presents/promenade/designs/images/seo-img.jpg" alt="The Promenade at Sagemore" class="visible-xs img-fluid">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8 offset-md-1">
							<h4>Welcome to The Promenade, a collection of unique upscale stores, situated in an open-air shopping environment.</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-8 offset-md-1">
							<p>The Promenade is a “lifestyle” center created with the time-starved shopper in mind, where you may park adjacent to your favorite store, or casually stroll along beautifully landscaped walkways in pursuit of something special.</p>
						</div>
					</div>
					<div class="row hidden-xs">
						<div class="col-12 col-md-11 offset-md-1">
							<a href="" class="clear-btn">Get Directions</a>
						</div>
					</div>
				</div>
			</div>
			
<%= render "includes/footertag" %>