<!doctype html>
<html lang="en">
  	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta property="og:url"           content="thepromenadenj.com" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="<%= @webpage.page_title %>" />
		<meta property="og:description"   content="<%= @webpage.meta_key %>" />
		<meta property="og:image"         content="" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="<%= @webpage.page_title %>" />
		<meta name="twitter:description" content="<%= @webpage.meta_key %>" />
		<meta name="twitter:image" content="" />

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

		<!-- Call jQuery -->
		<script src="javascripts/jquery.js"></script>

		<link href="https://fonts.googleapis.com/css?family=Lato:400,900|Raleway:100,400|Roboto+Condensed" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/owl.carousel.min.css">
		
		<!-- Allow FontAwesome to be used in stylesheet -->
		<script>
			window.FontAwesomeConfig = {
				searchPseudoElements: true
			}
		</script>

		<title>The Promenade at Sagemore<!--<%= @webpage.meta_key %>--></title>
		<!-- Uncomment before moving live
      	<% if !@website.web_analytics_id.blank? %>
      		<script>
         		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
         
         		ga('create', '<%= @website.web_analytics_id %>', 'auto');
         		ga('send', 'pageview');
         
      		</script>
      	<% end %>
      	<% if @webpage.tracking_codes.any? %>
			<script>
			 	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			 		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			 		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			 	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			 	<% @webpage.tracking_codes.each do |codes| %>
			   		ga('create', '<%= codes.code %>', 'auto');
			   		ga('send', 'pageview');
			 	<% end %>
		  	</script>
      	<% end %>
      	<% if !@website.full_website_code.blank? %>
       		<%= @website.full_website_code.html_safe %>
      	<% end %>
      	-->
  	</head>
  	<body>
		<div class="site-wrapper">
			<div class="container-fluid header-container">
				<div class="top-section">
					<div class="row">
						<div class="col-5 col-sm-5 col-lg-4 top-left">
							<a href="">open today: <span class="hidden-xs">10 am to 9 pm</span> <span class="fas fa-angle-right"></span></a>
						</div>
						<div class="col-7 col-sm-7 col-lg-8 text-right top-right">
							<ul class="hidden-xs hidden-sm">
								<li><a href="">500 Route 73 South, Marlton, NJ 08053</a></li>
								<li><a href="">Phone: 856.985.3846</a></li>
								<li class="social"><a href=""><span class="fab fa-facebook-f"></span></a><a href=""><span class="fab fa-twitter"></span></a><a href=""><span class="fab fa-instagram"></span></a></li>
							</ul>
							<ul class="hidden-md hidden-lg">
								<li class="social"><a href=""><span class="fab fa-facebook-f"></span></a><a href=""><span class="fab fa-twitter"></span></a><a href=""><span class="fab fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="lower-section">
					<div class="row">
						<div class="col-7 col-sm-4 col-xl-3 lower-left">
							<a href="/"><img src="images/logo.png" alt="The Promendade at Sagemore" class="img-fluid"></a>
						</div>
						<div class="col-5 col-sm-8 col-xl-9 lower-right">
							<ul class="hidden-xs hidden-sm">
								<li><a href="">shop</a></li>
								<li><a href="">dine</a></li>
								<li><a href="">deals</a></li>
								<li><a href="">events</a></li>
								<li><a href="">trends</a></li>
								<li><a href="">directions</a></li>
								<li>
									<a href="">info</a>
									<div class="sub-nav">
										<ul>
											<li><a href="">about us</a></li>
											<li><a href="">contact us</a></li>
											<li><a href="">jobs</a></li>
										</ul>
									</div>
								</li>
								<li><a href=""><span class="fas fa-search"></span></a></li>
							</ul>
							<!-- Mobile Nav -->
							<div class="mobi-nav" id="mobi-head">
								<div class="menu-btn-container">
									<div id="top-bar"></div>
									<div id="mid-bar"></div>
									<div id="low-bar"></div>
									<p>menu</p>
								</div>
							</div>
						</div>
					</div>
					<div class="mobi-menu">
						<div class="mobi-link-container">
							<a href=""><p>shop</p></a>
							<a href=""><p>dine</p></a>
							<a href=""><p>deals</p></a>
							<a href=""><p>events</p></a>
							<a href=""><p>trends</p></a>
							<a href=""><p>directions</p></a>
							<a href=""><p>info</p></a>
							<a href=""><p>about us</p></a>
							<a href=""><p>contact us</p></a>
							<a href=""><p>jobs</p></a>
							<a href=""><p>Terms &amp; Conditions</p></a>
							<a href=""><p>Privacy Policy</p></a>
						</div>
					</div>
					<script>
						$(document).ready(function(){
							mobiBtn();
						});
						function mobiBtn(){
							var isClicked = 0;
							$('.menu-btn-container').click(function(){
								if(isClicked==0){
									isClicked++;
									$('#top-bar').removeClass('topUp');
									$('#top-bar').addClass('topDown');
									$('#low-bar').removeClass('lowDown');
									$('#low-bar').addClass('lowUp');
									$('#mid-bar').addClass('hideBar');
									showMenu();
								}else{
									isClicked--;
									$('#top-bar').removeClass('topDown');
									$('#top-bar').addClass('topUp');
									$('#low-bar').removeClass('lowUp');
									$('#low-bar').addClass('lowDown');
									setTimeout(function(){
										$('#mid-bar').removeClass('hideBar');
									}, 300);
									hideMenu();
								}
							});
						}
						function showMenu(){
							var headerHeight = $('.header-container').height();
							$('.mobi-menu').css({'top': headerHeight});
							$('.mobi-menu').slideDown(500);
							$('.mobi-nav').addClass('nav-down');
						}
						function hideMenu(){
							$('.mobi-menu').slideUp(500);
						}
					</script>
					<!-- End Mobile Nav -->
				</div>
			</div>
			
			<div class="container-fluid sub-hero-container">
				<img src="images/sub-hero.jpg" class="sub-hero-img" alt="sub hero desc">
				<div class="sub-hero-text">
					<h2>There's more in store at The Promenade</h2>
				</div>
			</div>
			
			<div class="tab-nav-container container">
				<div class="row">
					<div class="col-12 text-center">
						<ul>
							<li class="view-option active-view" id="show-list">list</li>
							<li class="view-option" id="show-grid">grid</li>
							<li class="view-option" id="show-map">map</li>
						</ul>
					</div>
				</div>
				<script>
					$('.view-option').click(function(){
						$(this).addClass('active-view');
						$('.view-option').not($(this)).removeClass('active-view');
					});
				</script>
			</div>
			
			<div class="search-container container">
				<form>
					<div class="row">
						<div class="col-12 col-md-6 col-lg-3 offset-lg-3 no-padding">
							<label class="icon"><span class="fas fa-search"></span></label>
							<input type="text" name="retailer-name" id="retailer-search" class="form-field" placeholder="Search by Name">
							<div class="search-results">
								<ul>
									<li><a href="">AT&amp;T</a></li>
									<li><a href="">American Eagle Outfitters</a></li>
									<li><a href="">Ann Taylor</a></li>
									<li><a href="">Apple Store</a></li>
									<li><a href="">Banana Republic</a></li>
									<li><a href="">Chipotle</a></li>
									<li><a href="">Clarks</a></li>
									<li><a href="">Coach</a></li>
									<li><a href="">Francesca's</a></li>
									<li><a href="">Gymboree</a></li>
									<li><a href="">J. Jill</a></li>
									<li><a href="">Jos. A. Bank</a></li>
									<li><a href="">Loft</a></li>
								</ul>
							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-3 extra-padding">
							<select name="category" class="custom-select">
								<option value="">All Categories</option>
								<option value="dining">Dining</option>
								<option value="womens-fashion">Women's Fashion</option>
								<option value="mens-fashion">Men's Fashion</option>
								<option value="shoes">Shoes</option>
								<option value="jewelry">Jewelry</option>
								<option value="accessories">Accessories</option>
								<option value="health-beauty">Health &amp; Beauty</option>
							</select>
						</div>
					</div>
				</form>
				<script>
					$('#retailer-search').keyup(function(){
						$('.search-results').slideDown();
					});
				</script>
			</div>
			
			<div class="container-fluid store-list-container">
				<div class="container store-list">
					<div class="list-container">
						<div class="list-item">
							<div class="status now-open">now open</div>
						</div>
						<div class="grid-item">
							<div class="status coming-soon">coming soon</div>
							<img src="images/retailers/AE-logo.png" alt="American Eagle">
						</div>
						<div class="grid-item">
							<div class="status relocated">Relocated</div>
							<img src="images/retailers/ann-taylor.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<div class="status new-location">New Location</div>
							<img src="images/retailers/apple.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<div class="status closing-soon">Closing Soon</div>
							<img src="images/retailers/br.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/chipotle.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/clarks.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/coach.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/fran.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/gymboree.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/jjill.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/j-bank.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/loft.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/lulu.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/orvis.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/pf.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/panera.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/pandora.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/sleep.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/soft.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/soma.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/talbots.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/vb.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/white-house.png" alt="AT&T">
						</div>
						<div class="grid-item">
							<img src="images/retailers/zoes.png" alt="AT&T">
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			
			<div class="container-fluid subscribe-container">
				<div class="row">
					<div class="col-12 col-md-4 offset-lg-2">
						<h4>Be the first to know!</h4>
						<p>Sign-up for our regular newsletter where you get VIP information about events and promotions.</p>
					</div>
					<div class="col-12 col-md-8 col-lg-5">
						<form class="footer-subscribe">
							<div class="row">
								<div class="col-12 col-md-7">
									<input type="email" name="email" class="form-input" placeholder="My Email">
								</div>
								<div class="col-12 col-md-5">
									<button type="submit" class="black-btn">Subscribe Now</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="container-fluid footer-container">
				<div class="row">
					<div class="col-12 footer-social">
						<ul>
							<li><a href=""><span class="fab fa-facebook"></span></a></li>
							<li><a href=""><span class="fab fa-twitter"></span></a></li>
							<li><a href=""><span class="fab fa-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-center hashtag">
						<p>#thepromenadenj <span class="left-right-10 hidden-xs">|</span> #promenadelife</p>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-12 footer-nav">
							<ul>
								<li><a href="">shop</a></li>
								<li><a href="">dine</a></li>
								<li><a href="">deals</a></li>
								<li><a href="">events</a></li>
								<li><a href="">trends</a></li>
								<li><a href="">directions</a></li>
								<li><a href="">info</a></li>
								<li><a href="">contact us</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-4 offset-md-1 footer-address">
							<p><a href="">500 Route 73 South,<br class="visible-xs"> Marlton, NJ 08053</a><br>
								Phone: <a href="">856.985.3846</a></p>
						</div>
						<div class="col-12 col-md-6 copy-container">
							<a href="">terms of use</a><br class="visible-xs"> <a href="">Privacy Policy</a>
							<p>Copyright &copy;2018 The Promenade at Sagemore</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    	
    	<!-- Owl Carousel JS -->
		<script src="javascripts/owl.carousel.min.js"></script>
		<script>
			$(document).ready(function(){
				var owl = $('.detail-slide');
				owl.owlCarousel({
					items: 1,
					margin: 0,
					nav: false,
					dots: true,
					loop: true,
					center: false,
					autoplay:4000,
					smartSpeed:2050,
					autoplayHoverPause: true
				});
				// Custom Navigation Events
				$(".next").click(function(){
					owl.trigger('next.owl.carousel');
				});
				$(".prev").click(function(){
					owl.trigger('prev.owl.carousel');
				});
			});
		</script>
    	<!-- Optional JS -->
    	<!-- Popper.js, then Bootstrap JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>