<!doctype html>
<html lang="en">
  	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta property="og:url"           content="thepromenadenj.com" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="<%= @webpage.page_title %>" />
		<meta property="og:description"   content="<%= @webpage.meta_key %>" />
		<meta property="og:image"         content="" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="<%= @webpage.page_title %>" />
		<meta name="twitter:description" content="<%= @webpage.meta_key %>" />
		<meta name="twitter:image" content="" />

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

		<!-- Call jQuery -->
		<script src="javascripts/jquery.js"></script>

		<link href="https://fonts.googleapis.com/css?family=Lato:400,900|Raleway:100,400|Roboto+Condensed" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/owl.carousel.min.css">
		
		<!-- Allow FontAwesome to be used in stylesheet -->
		<script>
			window.FontAwesomeConfig = {
				searchPseudoElements: true
			}
		</script>

		<title>The Promenade at Sagemore<!--<%= @webpage.meta_key %>--></title>
		<!-- Uncomment before moving live
      	<% if !@website.web_analytics_id.blank? %>
      		<script>
         		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
         
         		ga('create', '<%= @website.web_analytics_id %>', 'auto');
         		ga('send', 'pageview');
         
      		</script>
      	<% end %>
      	<% if @webpage.tracking_codes.any? %>
			<script>
			 	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			 		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			 		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			 	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			 	<% @webpage.tracking_codes.each do |codes| %>
			   		ga('create', '<%= codes.code %>', 'auto');
			   		ga('send', 'pageview');
			 	<% end %>
		  	</script>
      	<% end %>
      	<% if !@website.full_website_code.blank? %>
       		<%= @website.full_website_code.html_safe %>
      	<% end %>
      	-->
  	</head>
  	<body>
		<div class="site-wrapper">
			<div class="container-fluid header-container">
				<div class="top-section">
					<div class="row">
						<div class="col-5 col-sm-5 col-lg-4 top-left">
							<a href="">open today: <span class="hidden-xs">10 am to 9 pm</span> <span class="fas fa-angle-right"></span></a>
						</div>
						<div class="col-7 col-sm-7 col-lg-8 text-right top-right">
							<ul class="hidden-xs hidden-sm">
								<li><a href="">500 Route 73 South, Marlton, NJ 08053</a></li>
								<li><a href="">Phone: 856.985.3846</a></li>
								<li class="social"><a href=""><span class="fab fa-facebook-f"></span></a><a href=""><span class="fab fa-twitter"></span></a><a href=""><span class="fab fa-instagram"></span></a></li>
							</ul>
							<ul class="hidden-md hidden-lg">
								<li class="social"><a href=""><span class="fab fa-facebook-f"></span></a><a href=""><span class="fab fa-twitter"></span></a><a href=""><span class="fab fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="lower-section">
					<div class="row">
						<div class="col-7 col-sm-4 col-xl-3 lower-left">
							<a href="/"><img src="images/logo.png" alt="The Promendade at Sagemore" class="img-fluid"></a>
						</div>
						<div class="col-5 col-sm-8 col-xl-9 lower-right">
							<ul class="hidden-xs hidden-sm">
								<li><a href="">shop</a></li>
								<li><a href="">dine</a></li>
								<li><a href="">deals</a></li>
								<li><a href="">events</a></li>
								<li><a href="">trends</a></li>
								<li><a href="">directions</a></li>
								<li>
									<a href="">info</a>
									<div class="sub-nav">
										<ul>
											<li><a href="">about us</a></li>
											<li><a href="">contact us</a></li>
											<li><a href="">jobs</a></li>
										</ul>
									</div>
								</li>
								<li><a href=""><span class="fas fa-search"></span></a></li>
							</ul>
							<!-- Mobile Nav -->
							<div class="mobi-nav" id="mobi-head">
								<div class="menu-btn-container">
									<div id="top-bar"></div>
									<div id="mid-bar"></div>
									<div id="low-bar"></div>
									<p>menu</p>
								</div>
							</div>
						</div>
					</div>
					<div class="mobi-menu">
						<div class="mobi-link-container">
							<a href=""><p>shop</p></a>
							<a href=""><p>dine</p></a>
							<a href=""><p>deals</p></a>
							<a href=""><p>events</p></a>
							<a href=""><p>trends</p></a>
							<a href=""><p>directions</p></a>
							<a href=""><p>info</p></a>
							<a href=""><p>about us</p></a>
							<a href=""><p>contact us</p></a>
							<a href=""><p>jobs</p></a>
							<a href=""><p>Terms &amp; Conditions</p></a>
							<a href=""><p>Privacy Policy</p></a>
						</div>
					</div>
					<script>
						$(document).ready(function(){
							mobiBtn();
						});
						function mobiBtn(){
							var isClicked = 0;
							$('.menu-btn-container').click(function(){
								if(isClicked==0){
									isClicked++;
									$('#top-bar').removeClass('topUp');
									$('#top-bar').addClass('topDown');
									$('#low-bar').removeClass('lowDown');
									$('#low-bar').addClass('lowUp');
									$('#mid-bar').addClass('hideBar');
									showMenu();
								}else{
									isClicked--;
									$('#top-bar').removeClass('topDown');
									$('#top-bar').addClass('topUp');
									$('#low-bar').removeClass('lowUp');
									$('#low-bar').addClass('lowDown');
									setTimeout(function(){
										$('#mid-bar').removeClass('hideBar');
									}, 300);
									hideMenu();
								}
							});
						}
						function showMenu(){
							var headerHeight = $('.header-container').height();
							$('.mobi-menu').css({'top': headerHeight});
							$('.mobi-menu').slideDown(500);
							$('.mobi-nav').addClass('nav-down');
						}
						function hideMenu(){
							$('.mobi-menu').slideUp(500);
						}
					</script>
					<!-- End Mobile Nav -->
				</div>
			</div>
			
			<div class="container-fluid sub-back-container">
				<div class="row">
					<div class="col-12">
						<a href=""><span class="fas fa-angle-left"></span> Back to shop</a>
					</div>
				</div>
			</div>
			
			<div class="container-fluid store-detail">
				<div class="container">
					<div class="row">
						<div class="col-12 text-center">
							<h3 class="store-name">American Eagle Outfitters</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-5 offset-md-2">
							<img src="images/ae-img.jpg" class="img-fluid" alt="Store Name">
						</div>
						<div class="col-12 col-md-5">
							<div class="store-info">
								<h5>hours</h5>
								<p>Monday - Saturday: 10:00am - 9:00pm</p>
								<p>Sunday: 11:00am - 6:00pm</p>
								<h5 class="down-50">phone number</h5>
								<p><a href="">856-985-4205</a></p>
								<h5 class="down-50">links</h5>
								<ul>
									<li><a href=""><span class="fab fa-facebook"></span></a></li>
									<li><a href=""><span class="fab fa-twitter"></span></a></li>
									<li><a href=""><span class="fab fa-pinterest"></span></a></li>
									<li><a href=""><span class="fab fa-youtube"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
							<p class="store-desc">
								American Eagle Outfitters strives to not only continue to lead the 15 — 25-yearold lifestyle retail market, but to be a part of that lifestyle beyond just fashion. Known for our t-shirts and hoodies but built upon the quality and heritage of our denim, we seek to be a consistent presence throughout young men’s &amp; women’s lifestyles. Casual comfort and a relaxed attitude have made AEO the brand it is today.
							</p>
						</div>
					</div>
					<div class="row events">
						<div class="col-12 text-center">
							<h4>EVENTS</h4>
						</div>
					</div>
					<div class="row down-25 event-deal-cards">
						<div class="col-12">
							<div class="card-container">
								<div class="card">
									<div class="card-img">
										<img src="images/deal-event/img-5.jpg" class="img-fluid" alt="Deal / Event Desc">
									</div>
									<div class="card-body">
										<div class="store-name">
											american eagle outfitters
										</div>
										<div class="description">
											25% off Men's T's and Polos
										</div>
										<div class="date">
											May 21st
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-img">
										<img src="images/deal-event/img-6.jpg" class="img-fluid" alt="Deal / Event Desc">
									</div>
									<div class="card-body">
										<div class="store-name">
											american eagle outfitters
										</div>
										<div class="description">
											10% off Women's Cotton Tops
										</div>
										<div class="date">
											May 21st - May 30th
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row deals">
						<div class="col-12 text-center">
							<h4>DEALS</h4>
						</div>
					</div>
					<div class="row down-25 event-deal-cards">
						<div class="col-12">
							<div class="card-container">
								<div class="carousel-container">
									<div class="custom-nav">
										<div class="prev"><span class="fas fa-chevron-left"></span></div>
										<div class="next"><span class="fas fa-chevron-right"></span></div>
									</div>
									<div class="event-deal-carousel owl-carousel">
										<div class="item">
											<div class="card">
												<div class="card-img">
													<img src="images/deal-event/img-5.jpg" class="img-fluid" alt="Deal / Event Desc">
												</div>
												<div class="card-body">
													<div class="store-name">
														american eagle outfitters
													</div>
													<div class="description">
														25% off Men's T's and Polos
													</div>
													<div class="date">
														May 21st
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="card">
												<div class="card-img">
													<img src="images/deal-event/img-6.jpg" class="img-fluid" alt="Deal / Event Desc">
												</div>
												<div class="card-body">
													<div class="store-name">
														american eagle outfitters
													</div>
													<div class="description">
														10% off Women's Cotton Tops
													</div>
													<div class="date">
														May 21st - May 30th
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="card">
												<div class="card-img">
													<img src="images/deal-event/img-7.jpg" class="img-fluid" alt="Deal / Event Desc">
												</div>
												<div class="card-body">
													<div class="store-name">
														american eagle outfitters
													</div>
													<div class="description">
														Stretch Your Legs Sale
													</div>
													<div class="date">
														June 6th
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="card">
												<div class="card-img">
													<img src="images/deal-event/img-8.jpg" class="img-fluid" alt="Deal / Event Desc">
												</div>
												<div class="card-body">
													<div class="store-name">
														american eagle outfitters
													</div>
													<div class="description">
														Annual Spring Jeans Sale
													</div>
													<div class="date">
														May 21st - May 30th
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row deals">
						<div class="col-12 text-center">
							<h4>LOCATION</h4>
						</div>
					</div>
					<div class="row map-container">
						<div class="col-12 text-center" id="map">
							<img src="images/placeholder-map.jpg" class="img-fluid">
						</div>
					</div>
					<div class="row trends">
						<div class="col-12 text-center">
							<h4>TRENDS</h4>
						</div>
					</div>
					<div class="row down-25 trend-cards">
						<div class="col-12">
							<div class="card-container">
								<div class="card">
									<div class="card-img">
										<img src="images/trends/trend-2.jpg" class="img-fluid" alt="Trend Desc">
									</div>
									<div class="card-body">
										<div class="store-name">
											fashion
										</div>
										<div class="description">
											5 Totally Unique Ways to Wear Denim on Denim
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-img">
										<img src="images/trends/trend-1.jpg" class="img-fluid" alt="Trend Desc">
									</div>
									<div class="card-body">
										<div class="store-name">
											fashion
										</div>
										<div class="description">
											The Biggest Men's Denim Trends for 2018
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="container-fluid subscribe-container">
				<div class="row">
					<div class="col-12 col-md-4 offset-lg-2">
						<h4>Be the first to know!</h4>
						<p>Sign-up for our regular newsletter where you get VIP information about events and promotions.</p>
					</div>
					<div class="col-12 col-md-8 col-lg-5">
						<form class="footer-subscribe">
							<div class="row">
								<div class="col-12 col-md-7">
									<input type="email" name="email" class="form-input" placeholder="My Email">
								</div>
								<div class="col-12 col-md-5">
									<button type="submit" class="black-btn">Subscribe Now</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="container-fluid footer-container">
				<div class="row">
					<div class="col-12 footer-social">
						<ul>
							<li><a href=""><span class="fab fa-facebook"></span></a></li>
							<li><a href=""><span class="fab fa-twitter"></span></a></li>
							<li><a href=""><span class="fab fa-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-center hashtag">
						<p>#thepromenadenj <span class="left-right-10 hidden-xs">|</span> #promenadelife</p>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-12 footer-nav">
							<ul>
								<li><a href="">shop</a></li>
								<li><a href="">dine</a></li>
								<li><a href="">deals</a></li>
								<li><a href="">events</a></li>
								<li><a href="">trends</a></li>
								<li><a href="">directions</a></li>
								<li><a href="">info</a></li>
								<li><a href="">contact us</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-4 offset-md-1 footer-address">
							<p><a href="">500 Route 73 South,<br class="visible-xs"> Marlton, NJ 08053</a><br>
								Phone: <a href="">856.985.3846</a></p>
						</div>
						<div class="col-12 col-md-6 copy-container">
							<a href="">terms of use</a><br class="visible-xs"> <a href="">Privacy Policy</a>
							<p>Copyright &copy;2018 The Promenade at Sagemore</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    	
    	<!-- Owl Carousel JS -->
		<script src="javascripts/owl.carousel.min.js"></script>
		<script>
			$(document).ready(function(){
				var owl = $('.event-deal-carousel');
				owl.owlCarousel({
					nav: false,
					dots: false,
					loop: true,
					autoplay:4000,
					smartSpeed:2050,
					autoplayHoverPause: true,
					responsive : {
						0 : {
							items: 1,
							margin: 25,
							center: true,
						},
						768 : {
							items: 2,
							margin: 5,
							center: true,
						},
						992 : {
							items: 3,
							center: true,
						},
						1450 : {
							items: 4,
							center: true,
						}
					}
				});
				// Custom Navigation Events
				$(".next").click(function(){
					owl.trigger('next.owl.carousel');
				});
				$(".prev").click(function(){
					owl.trigger('prev.owl.carousel');
				});
			});
		</script>
    	<!-- Optional JS -->
    	<!-- Popper.js, then Bootstrap JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>