<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpyg-F8fWvpy3Fob0wRL0SWraH7nntf2o">
</script>
<script src="/presents/<%= presentation_for(@webpage) -%>/designs/javascripts/directory_dining_page.js">
</script>     
<script>
var screen_width = window.innerWidth
|| document.documentElement.clientWidth
|| document.body.clientWidth;

var screen_height = window.innerHeight
|| document.documentElement.clientHeight
|| document.body.clientHeight;

</script>
<link rel="stylesheet" type="text/css" href="bootstrap-select.min.css">
<% filtertext = params["query"].blank? ? "" : params["query"] %>
<% filterretailers = params["category_id"].blank? ? "" : params["category_id"] %>
<% if !filtertext.blank? %>
<% filterretailers = "" %>
<% end %>
<% if !filterretailers.blank? %>
<% filterretailers = filterretailers.split(",") %>
<% end %>
<% filtertext = params["query"].blank? ? "" : params["query"] %>
			
			<div class="container-fluid retailer-hero sub-hero-container">
				<% if !@webpage.main_img.blank? %>
					<img src="<%= @webpage.main_img.html_safe %>" class="sub-hero-img">
					<div class="retailer-head">
						<%= @webpage.main_img_des %>
					</div>
				<% end %>
			</div>
			
			<div class="tab-nav-container container">
				<div class="row">
					<div class="col-12 text-center">
						<ul>
							<li class="view-option active-view" data-view="list" id="show-list">list</li>
							<li class="view-option" data-view="grid" id="show-grid">grid</li>
							<li class="view-option" data-view="map-v" id="show-map">map</li>
						</ul>
					</div>
				</div>
				<script>
					$('.view-option').click(function(){
						var viewer = $(this).data('view');
						$(this).addClass('active-view');
						$('.view-option').not($(this)).removeClass('active-view');
						$('.viewer').children('#'+viewer).show();
						$('.viewer').children().not('#'+viewer).hide();
						if(viewer=='map-v'){
							$('.search-container').hide();
						}else{
							$('.search-container').show();
						}
					});
				</script>
			</div>
			
			<div class="search-container container">
				<%= form_tag("/directory", method: "get", class: "search-form dining-search") do %>
					<div class="row">
						<div class="col-12 col-md-6 col-lg-3 offset-lg-3 no-padding">
							<label class="icon"><span class="fas fa-search"></span></label>
							<%= text_field_tag :text, params[:query], id: 'query', name: 'query', class: 'filter-name-box form-field product-search', placeholder: "Search by name"%>
							<% if params[:category_id].present?%>
								<%= hidden_field_tag(:category_id, params[:category_id]) %>
							<% end %>
						</div>
						<div class="col-12 col-md-6 col-lg-3 extra-padding">
							<div class="print-directory">
							  <a href="/directory_print/print/<%= @property.property_id -%>.pdf" target="_blank"><button class="print-btn black-btn"><i class="fas fa-map view-icon" aria-hidden="true"></i>View Map</button></a>
							</div>

							<!-- Modal -->
							<div class="modal fade modal-map" id="myModalmap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							   <div class="modal-dialog" role="document">
								  <div class="modal-content">
									 <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel"><i aria-hidden="true" class="fa fa-map view-icon"></i>Map View</h4>
									 </div>
									 <div class='modal-body'>
									 </div>
								  </div>
							   </div>
							</div>
						 </div>
					</div>
				<% end %>
				<script>
					$('#retailer-search').keyup(function(){
						$('.search-results').slideDown();
					});
				</script>
			</div>
			
			<% category_id = !Category.where("name = 'Dining'").first.blank? ? (Category.where("name = 'Dining'")).first.id : 0 %>
           	<% dir_obj = @property.valid_retailers(filtertext,[category_id]) %>
			<div class="viewer">
				<div class="container-fluid store-list-container" id="list">
					<div class="container store-list">
						<div class="row">
							<div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
								<div class="list-container">
									<% if !dir_obj.blank? %>
                     					<% @all_retailers = []; %>
                     					<% dir_obj.each_with_index do |retailer, index| %>
                       						<%  @all_retailers.push(retailer) %>
                       
                     						<% suites = retailer.suites %>
                     						<% @retailer_count = index %> 
											<div class="list-item">
												<% if !retailer.option.blank? %>
											  		<% if !retailer.expiration_date.blank? %>     <div class="status-container">
															<% if retailer.expiration_date >= Date.today %>
																<div class="status <%= retailer.option %>"><%= retailer.option.gsub(/_/," ").titleize %></div>
															<% end %>
														</div>
											  		<% end %>
										   		<% end %>
										   		<%= link_to "/directory/view/#{retailer.slug}" do %>
                             						<div class="store-name"><%= retailer.name %></div>
                           						<% end %>
												<div class="number">
													<% if !retailer.main_phn_num.blank? %>
														<a href="tel:<%= retailer.main_phn_num %>"><span class="fas fa-phone"></span> <span class="hidden-xs"><%= retailer.main_phn_num %></span></a>
													<% end %>
												</div>
												<% deals = @website.active_deal_frontend("",[retailer.id],"","","",false) %>
												<% if !deals.blank? %>
													<div class="deals">
														<a href="/directory/view/<%= retailer.slug %>#deals"><span class="fas fa-tag"></span></span></a>
													</div>
											  	<% end %>
											  	<% events = @website.active_events_frontend("",[retailer.id],"","","",false) %>
											  	<% if !events.blank? %>
                           							<div class="events">
                            							<a href="/directory/view/<%= retailer.slug %>#events"><span class="fas fa-calendar-alt"></span></a>
													</div>
                          						<% end %>
												<div class="clearfix"></div>
											</div>
										<% end %>
									<% else %>
										<div class="alert alert-info">
											<a href="#" data-dismiss="alert" class="close">×</a>
											Currently there are no results for <strong><%= params["query"] %></strong> in <%= @website.name %>’s Directory
										</div>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="container-fluid store-grid-container" id="grid">
					<div class="container store-grid">
						<div class="grid-container">
							<% if !dir_obj.blank? %>
								<% dir_obj.each do |retailer| %>
									<%= link_to "/directory/view/#{retailer.slug}" do %>
										<div class="grid-item">
										   <% if !retailer.option.blank? %>
											  <% if !retailer.expiration_date.blank? %>
												<% if retailer.expiration_date >= Date.today %>
												   <div class="status-container text-center">
													  <div class="status <%= retailer.option %>">
														 <%= retailer.option.gsub(/_/," ").titleize %>
													  </div>
												   </div>
												<% end %>
											  <% end %>
										   <% end %>

										   <% if !retailer.logo_1_url.blank? %>
												<img alt="<%= retailer.name %>" class="img-responsive" src="<%= retailer.logo_1_url %>" />
										   <% else %>
											   <div class="retailer-logo-text">
												  <span> <%= retailer.name %> </span>
											   </div>
											<% end %>
											<div class="deals-events">
												<% deals = @website.active_deal_frontend("",[retailer.id],"","","",false) %>
												<% if !deals.blank? %>
													<a href="/directory/view/<%= retailer.slug %>#deals"><span class="fas fa-tag"></span></a>
												<% end %>
												<% events = @website.active_events_frontend("",[retailer.id],"","","",false) %>
												<% if !events.blank? %>
													<a href="/directory/view/<%= retailer.slug %>#events"><span class="fas fa-calendar-alt"></span></a>
												<% end %>
											</div>
										</div>
									<% end %>
								<% end %>
							<% else %>
								<div class="col-12 col-lg-8 offset-lg-2">
									<div class="alert alert-info">
										<a href="#" data-dismiss="alert" class="close">×</a>
										Currently there are no results for <strong><%= params["query"] %></strong> in <%= @website.name %>’s Directory
									</div>
								</div>
							<% end %>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="container-fluid map-container" id="map-v">
					<div class="container store-map">
						<div class="row">
							<div class="col-12 text-center map-view">
								<h1>I need to implement the map still</h1>
							</div>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					if (screen_width <= "767")
					{

					  if (navigator.userAgent.match(/iPhone|iPad|iPod/i))
					  {

						// $(".mobile_directory_map").on("click",function()
						// {
						//   $(".modal-body").html("<%= escape_javascript(render partial: 'includes/map_for_IOS') %>");
						// });

					  $(document).on("click",".mobile_map_pin",function(){
					  window.pin_click = true;
					  suite_array = Array.new;
					  $.get('/siteman/get_retailer_for_map_pin', { id: $(this).attr("data-id") }, function(data){
						  suite_array = data;

						  $(".modal-body").html("<%= escape_javascript(render partial: 'includes/map_for_pin_IOS') %>");

					  });


					});


				  }
					  else
					  {
						// $(".mobile_directory_map").on("click",function()
						// {
						//   $(".modal-body").html("<%= escape_javascript(render partial: 'includes/retailer_suite_maps') %>");
						// });

					  $(document).on("click",".mobile_map_pin",function(){

					  window.pin_click = true;
					  suite_array = Array.new;
					  $.get('/siteman/get_retailer_for_map_pin', { id: $(this).attr("data-id") }, function(data){
						  suite_array = data;

						  $(".modal-body").html("<%= escape_javascript(render partial: 'includes/map_for_pin') %>");

					  });


					});
					}

					}else{
					  $(".map-view").html("<%= escape_javascript(render partial: 'includes/retailer_suite_maps') %>");
					}
						$(".maps_buttons").append("<ul id = 'map_view_ul' ></ul>");
						<% if !@website.blank? %>
						  <% @directories = @website.directory_sections %>
						  <% @directories.each do |directory| %>    
							var button = '<li><button type="button" data-id="<%=directory.id %>" class= "map_level_button" id="directory-svg-<%=directory.id %>" >'+"<%= directory.name %>"+"</button></li>";
							$("#map_view_ul").append(button);    
						  <% end %>    
						<% end %>

					  $("#map_view_ul li").on("click",function(){
						$('#map_view_ul li').map(function(i,n) {
						$(n).removeClass("active");
						});
						$(this).addClass("active");
					  });
					  var active_tab = "";
					  var map_tab_click = 0;
					  $(document).ready(function(){

						 var all_category = $(".deals-filter1 option:contains(All Categories)").attr('selected', 'selected');
						 $(all_category).val("-100");

						 var lastOption = sessionStorage.getItem('lastoption');
						 if(lastOption)
						 {
						   $(".deals-filter1").val(lastOption);
						 }

						  $(".amenities").hide();
						  $(".grid-view").hide();
						  $('.map-view').hide();
						  $('.list-view').show();

						  var lastTab = sessionStorage.getItem('lastTab');

						  if (lastTab) 
						  {

							$("#"+lastTab+"v").parent().siblings().removeClass('list-active');
							$("#"+lastTab+"v").parent().addClass('list-active');
							$('.grid-view').hide();
							$('.map-view').hide();
							$('.list-view').hide();
							if(lastTab == "list-")
							{
							  $("."+lastTab+"view").css({'display':'inline-block'});
							}
							else
							{
							  $("."+lastTab+"view").show();
							}
							if(lastTab == "map-")
							{
							  $("#map-v").click();
							  svg_render();
							  $(".amenities").show();

							}

						  }

						$(document).on("click",".retailer_pin",function(){
						   sessionStorage.setItem('showmap_directory', true);
						});

						$(document).on("click","#map-v",function(){

						  if(map_tab_click==0)
						  {
							svg_render();
						  }
							$(".amenities").show();
							map_tab_click++;


						});

						 $(document).on("click","#list-v",function(){
							$(".amenities").hide(); 
						  });

						  $(document).on("click","#grid-v",function(){

							 $(".amenities").hide(); 
						  });


						$(document).on("click",".map-button",function(){

						   svg_render();


						});

						 $(document).on("click",".mobile_map_pin",function(){

						  svg_render();


						});


						$(".modal-map").on("shown.bs.modal", function () {

						google.maps.event.trigger(map, "resize");

						if(typeof pin_click == 'undefined')
						{
						   reCenter = new google.maps.LatLng( <%= @website.properties.first.latitude.to_f %>, <%= @website.properties.first.longitude.to_f %>);
						}
						else
						{
						  reCenter = new google.maps.LatLng(parseFloat(suite_array[0][1]), parseFloat(suite_array[0][2]));
						}

						map.setCenter(reCenter);

						});

					   <% if !params["category_id"].blank? %>
						$array = <%= params["category_id"].split(",").map(&:to_i) %>
						$array.forEach(function(ret){
						  var id = ret;
						  $("input:checkbox[name=categories]").each(function(){
							if($(this).val() == id){
							  this.checked = true;
							}
						  });
						  });
						<% end %>
						$(".filter-by-name").click(function(){
						  filter();
						});

						$('.deals-filter1').on('change', function() {

						  var text = $(".filter-name-box").val();
						  var item =  $(this).find("option:selected").val();
						  sessionStorage.setItem('lastoption', item);
						  var $retailer_id = [];
						  if(item!="-100")
						  {
							$retailer_id.push(item);

						  }

						  window.location.href = window.location.href.split('?')[0] + "?query="+text+"&category_id="+$retailer_id;
					  });


						$(document).on("click",".click-filter",function(){

						  $('#retailer_view_ul li').each(function(i)
						  {
							if($(this).hasClass("list-active"))
							{

							  active_tab = $(this).attr("data-class");
							}
						  });
						  sessionStorage.setItem('lastTab', active_tab);
						  filter();
						});


						function filter(){
						  var text = $(".filter-name-box").val();
						  var $retailer_id = [];
						  $("input:checkbox[name=categories]:checked").each(function(){
							 var id = $(this).val();
							 $retailer_id.push(id);
						  });

						  // var ret = $('#store').attr("data-id");
						  // var cat_name = $('#cat').text();
						  // var ret_name = $('#store').text();

						  window.location.href = window.location.href.split('?')[0] + "?query="+text+"&category_id="+$retailer_id;

						 }

						 $('#list-v').click(function(){
							$(this).parent().siblings().removeClass('list-active');
							$(this).parent().addClass('list-active');
							$('.grid-view').hide();
							$('.map-view').hide();
							 $('#cat-heading').show();
							$('.list-view').css({'display':'inline-block'});
						 });
						 $('#grid-v').click(function(){
							$(this).parent().siblings().removeClass('list-active');
							$(this).parent().addClass('list-active');
							$('.grid-view').show();
							$('.map-view').hide();
							$('.list-view').hide();
							 $('#cat-heading').show();
						 });
						 $('#map-v').click(function(){
							$(this).parent().siblings().removeClass('list-active');
							$(this).parent().addClass('list-active');
							$('.grid-view').hide();
							$('.map-view').show();
							$('.list-view').hide();
							 $('#cat-heading').hide();
						 });

						 $('#cat-heading').click(function(){
							 $('.filter-cat-container').toggle();
							$('.hidden-cat').slideToggle();
							$('#cat-cover').slideToggle();
						 });
						 $('.clear-cat-btn').click(function(){
							$('input:checkbox').removeAttr('checked');
							filter();
						 });
						 $('#amenities-heading').click(function(){
							$('.hidden-amenities').slideToggle();
							//$('#amenities-cover').slideToggle();
						 });

					  });

					$(".maps_buttons").append("<ul id = 'map_view_ul' ></ul>");
					<% if !@website.blank? %>
					  <% @directories = @website.directory_sections %>
					  <% @directories.each do |directory| %>    
						var button = '<li><button type="button" data-id="<%=directory.id %>" class= "map_level_button" id="directory-svg-<%=directory.id %>" >'+"<%= directory.name %>"+"</button></li>";
						$("#map_view_ul").append(button);    
					  <% end %>    
					<% end %>

				  $("#map_view_ul li").on("click",function(){
					$('#map_view_ul li').map(function(i,n) {
					$(n).removeClass("active");
					});
					$(this).addClass("active");
				  });
				  $(".visit-more").on("click", function(){
					$('.retailer-row').css('display','');
					$('.visit-more').css('display','none'); 
				  });
				 </script>
			</div>