			<div class="container-fluid subscribe-container">
				<div class="row">
					<div class="col-12 col-md-4 offset-md-2">
						<h4>Be the first to know!</h4>
						<p>Sign-up for our regular newsletter where you get VIP information about events and promotions.</p>
					</div>
					<div class="col-12 col-md-5">
						<form class="footer-subscribe">
							<div class="row">
								<div class="col-12 col-md-7">
									<input type="email" name="email" class="form-input" placeholder="My Email">
								</div>
								<div class="col-12 col-md-5">
									<button type="submit" class="black-btn">Subscribe Now</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="container-fluid footer-container">
				<div class="row">
					<div class="col-12 footer-social">
						<ul>
							<li><a href=""><span class="fab fa-facebook"></span></a></li>
							<li><a href=""><span class="fab fa-twitter"></span></a></li>
							<li><a href=""><span class="fab fa-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-center hashtag">
						<p>#thepromenadenj <span class="left-right-10 hidden-xs">|</span> #promenadelife</p>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-12 footer-nav">
							<ul>
								<li><a href="">shop</a></li>
								<li><a href="">dine</a></li>
								<li><a href="">deals</a></li>
								<li><a href="">events</a></li>
								<li><a href="">trends</a></li>
								<li><a href="">directions</a></li>
								<li><a href="">info</a></li>
								<li><a href="">contact us</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-4 offset-md-1 footer-address">
							<p><a href="">500 Route 73 South,<br class="visible-xs"> Marlton, NJ 08053</a><br>
								Phone: <a href="">856.985.3846</a></p>
						</div>
						<div class="col-12 col-md-6 copy-container">
							<a href="">terms of use</a><br class="visible-xs"> <a href="">Privacy Policy</a>
							<p>Copyright &copy;<%= Time.now.year %> The Promenade at Sagemore</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    	
    	<!-- Owl Carousel JS -->
		<script src="/presents/promenade/designs/javascripts/owl.carousel.min.js"></script>
		<script>
			$(document).ready(function(){
				var owl = $('.slider');
				owl.owlCarousel({
					items: 1,
					margin: 0,
					nav: false,
					dots: true,
					loop: true,
					center: false,
					autoplay:4000,
					smartSpeed:2050,
					autoplayHoverPause: true
				});
			});
		</script>
    	<!-- Optional JS -->
    	<!-- Popper.js, then Bootstrap JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>