<!doctype html>
<html lang="en">
  	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta property="og:url"           content="thepromenadenj.com" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="<%= @webpage.page_title %>" />
		<meta property="og:description"   content="<%= @webpage.meta_key %>" />
		<meta property="og:image"         content="" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="<%= @webpage.page_title %>" />
		<meta name="twitter:description" content="<%= @webpage.meta_key %>" />
		<meta name="twitter:image" content="" />

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

		<!-- Call jQuery -->
		<script src="/presents/promenade/designs/javascripts/jquery.js"></script>

		<link href="https://fonts.googleapis.com/css?family=Lato:400,900|Raleway:100,400|Roboto+Condensed" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="/presents/promenade/designs/stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="/presents/promenade/designs/stylesheets/owl.carousel.min.css">
		
		<!-- Allow FontAwesome to be used in stylesheet -->
		<script>
			window.FontAwesomeConfig = {
				searchPseudoElements: true
			}
		</script>

		<title><%= @webpage.meta_key %></title>
		
		<!-- Uncomment before moving live
      	<% if !@website.web_analytics_id.blank? %>
      		<script>
         		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
         
         		ga('create', '<%= @website.web_analytics_id %>', 'auto');
         		ga('send', 'pageview');
         
      		</script>
      	<% end %>
      	<% if @webpage.tracking_codes.any? %>
			<script>
			 	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			 		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			 		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			 	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			 	<% @webpage.tracking_codes.each do |codes| %>
			   		ga('create', '<%= codes.code %>', 'auto');
			   		ga('send', 'pageview');
			 	<% end %>
		  	</script>
      	<% end %>
      	<% if !@website.full_website_code.blank? %>
       		<%= @website.full_website_code.html_safe %>
      	<% end %>
      	-->
  	</head>
  	<body>
		<div class="site-wrapper">