<style type="text/css">
  svg
  {
    width:100%;
    height: 100%;
  }
</style>
 <div class="tooltip"></div>
    <div class="retailer_maps_wrapper">
      <div id="map"></div>
      <div id="retailer_svg_buttons" class="maps_buttons"></div>
    </div>
   
      <!-- <div id="map"></div> -->

 <% if !@website.blank? && @website.properties.any? %>
      <% if @website.directory_sections.any? %>
        <% directory = @website.directory_sections.first %>

    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7tbq5WbknZf5t7g49Iy7jBMALWbi2E0k"></script> -->
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
    <script>
    window.globaldata;
    globaldata = <%= directory.id.to_s %>;
      
      // This example creates a custom overlay called USGSOverlay, containing
      // a U.S. Geological Survey (USGS) image of the relevant area on the map.

      // Set the custom overlay object's prototype to a new instance
      // of OverlayView. In effect, this will subclass the overlay class therefore
      // it's simpler to load the API synchronously, using
      // google.maps.event.addDomListener().
      // Note that we set the prototype to an instance, rather than the
      // parent class itself, because we do not wish to modify the parent class.

      var overlay;
      USGSOverlay.prototype = new google.maps.OverlayView();

      // Initialize the map and the custom overlay.

      function initMap(svg_string) {
        
         var options = {
          zoom: 17,
          //zIndex: -1000,
          heading: 100,
          center: {lat: <%= @website.properties.first.latitude.to_f %>, lng: <%= @website.properties.first.longitude.to_f %>},
          mapTypeControl: false,
          styles: [{"featureType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","stylers":[{"visibility":"on"}]},{"featureType":"water","stylers":[{"visibility":"on"}]},{"featureType":"poi","stylers":[{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#cbcbcb"}]},{"featureType":"transit","stylers":[{"color":"#808080"},{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#b3b3b3"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#d8d8d8"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#d8d8d8"},{"weight":1.8}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"color":"#d7d7d7"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"off"},{"color":"#bfbfbf"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#a7a7a7"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#d8d8d8"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#bfbfbf"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#696969"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#737373"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#d6d6d6"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#dadada"}]}]
        };
        map = new google.maps.Map(document.getElementById("map"),options);
        var heading = map.getHeading() || 0;
        map.setHeading(heading + 90);
        
        var bounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(<%= @website.properties.first.latitude1.to_f %>, <%= @website.properties.first.longitude1.to_f %>),
            new google.maps.LatLng(<%= @website.properties.first.latitude2.to_f %>, <%= @website.properties.first.longitude2.to_f %>));


        

        var srcImage = svg_string;
        
        window.svg_string_data = svg_string;
    

        // The custom USGSOverlay object contains the USGS image,
        // the bounds of the image, and a reference to the map.
        new USGSOverlay(bounds, srcImage, map);

        
      }

      /** @constructor */
      function USGSOverlay(bounds, image, map) {

        // Initialize all properties.
        this.bounds_ = bounds;
        this.image_ = image;
        this.map_ = map;

        // Define a property to hold the image's div. We'll
        // actually create this div upon receipt of the onAdd()
        // method so we'll leave it null for now.
        this.div_ = null;

        // Explicitly call setMap on this overlay.
        this.setMap(map);
      }

      /**
       * onAdd is called when the map's panes are ready and the overlay has been
       * added to the map.
       */
      USGSOverlay.prototype.onAdd = function() {

        // div2 = document.createElement('div');
        // div2.setAttribute("class","map-tooltip");
        // div2.id = "tooltip_div";
        div = document.createElement('div');
        div.style.borderStyle = 'none';
        div.style.borderWidth = '0px';
        div.style.position = 'absolute';

       // // svg = document.createElementNS('http://www.w3.org/2000/svg','svg');
        // object = document.createElement('object');
        // object.data = '/directory_svg/'+globaldata+"_"+<%= @website.id.to_s %>+".svg";
        // object.type = "image/svg+xml";
        // object.style.width = '100%';
        // object.style.height = '100%';
        // object.style.position = 'absolute';
        //  // object.style.display = "none";
        // object.id = "svgmap";
        // // Create the img element and attach it to the div.
        var img = document.createElement('img');
        img.src = '/directory_svg/'+globaldata+"_"+<%= @website.id.to_s %>+".svg";
        img.style.width = '100%';
        img.style.height = '100%';
        img.style.position = 'absolute';
        img.id = "svg_image";
        // object.appendChild(img);
        //svg.appendChild(object);
        // div.appendChild(object);
        // div.innerHTML = this.image_;
         div.appendChild(img);
        // div.appendChild(div2);
        this.div_ = div;
        this.div_.id = 'imgOverlay';

        // Add the element to the "overlayLayer" pane.
        var panes = this.getPanes();
        // panes.mapPane.appendChild(div);

        this.getPanes().overlayLayer.appendChild(div);


  var me = this;
  tooltip_array = "";
  var node = document.getElementById("amenities");
  if(node)
  {
    while (node.hasChildNodes()) 
    {
      node.removeChild(node.lastChild);
    }
  }

   div.ontouchmove = function(e)
  {
    e.preventDefault();
  }
// $('#imgOverlay > svg [poi_restrooms]').each(function() {
//    alert(this.id);
// });  
  // var x = document.querySelectorAll(polygon[id*='pricing']);
  // alert(x.length);
  //          // call to fetch suite and retailer data to show in tooltip
  $.get('/siteman/get_tooltip_data', { directory_id: globaldata }, function(data){
                
            tooltip_array = data;
            for(i=0;i<tooltip_array.length;i++)
            {
              var element = $("#ste_"+tooltip_array[i][0]);
              if("ste_"+tooltip_array[i][0]== $(element).attr("id"))
              {
                the_suite = element;
                the_tooltip ="<div>"+tooltip_array[i][1]+"</div><div>"+tooltip_array[i][2]+"</div>";
                element.attr('data-title', the_tooltip);
                element.attr('data-toggle', "tooltip");
                element.attr("rel","tooltip");
              }
            }
    // a = document.getElementById("svgmap");

              // svgDoc = a.contentDocument; //get the inner DOM of alpha.svg
              // alert(svgDoc);
              // for(i=0;i<tooltip_array.length;i++)
              // {
                
              //   var obj = svgDoc.getElementById("ste_"+tooltip_array[i][0]);
              //   if(obj)
              //   {

              //     if("ste_"+tooltip_array[i][0]==(svgDoc.getElementById("ste_"+tooltip_array[i][0]).id) )
              //       {
              //         the_suite = svgDoc.getElementById("ste_"+tooltip_array[i][0]);
              //     the_tooltip ="<div>"+tooltip_array[i][1]+"</div><div>"+tooltip_array[i][2]+"</div>";

              //       classes = the_suite.getAttribute("class");
              //       classes+= " tooltip_div_class mohitclass";
              //       the_suite.setAttribute('class',classes);

              //       the_suite.setAttribute('data-tooltip', the_tooltip);
              //       }
              //     }
              // }

           // function to polupate left side navbar of Amenities
            function populate_left_bar_for_amenities()
            {
                var svg_string = svg_string_data;
                
                var svg_array = [];
                j=0;
                var svg_content = svg_string.split(" ");
                // loop that extract all id of poi_ from svg file
                for(i=0;i<svg_content.length;i++)
                {
                  if(svg_content[i].includes('id="poi_'))
                  {
                    poi = svg_content[i].split("\"");
                    svg_array[j] = poi[1];
                    // alert("id : "+svg_array[j]) // contains id as in svg for each poi in svg
                    j++;
                  }
                }
                
                var poi_array = new Array();
                var k=0,x=-1000;
                // loop that find unique poi from svg_array
                for (var i = 0; i < svg_array.length; i++) 
                {
                  count = 1;
                  for(j=i+1;j<svg_array.length;j++)
                  {
                    if(svg_array[j].includes(svg_array[i]))
                    {
                      count++;
                      svg_array[j] = String(x);
                      x++;
                      
                    }
                  }
                    poi_array[k] = new Array(2);
                    poi_array[k][0] = svg_array[i];
                    poi_array[k][1] = count;
                    k++;

                  // counts[svg_array[i]] = 1 + (counts[svg_array[i]] || 0);
                }
                // loop that sets the icon in left navbar
                

                if(poi_array.length==0)
                {
                  
                  $("#amenities-cover").css("display","none");
                }
                for(m=0;m<poi_array.length;m++)
                {
                  if(isNaN(poi_array[m][0]))
                  {
                     poi_array[m][0] = String(poi_array[m][0]).substring(4);
                     
                    $("#amenities").append( "<div id='"+poi_array[m][0]+"' class= 'amenity_sidebar' ><img alt='"+poi_array[m][0]+"' src='/amenities/"+poi_array[m][0]+".png' /> &nbsp;&nbsp;"+poi_array[m][0].replace(/_/g , " ")+"</div>");
                     // alert(poi_array[m][0]);  // contains only unique names of poi
                  }
                }
            }


          $(function() 
          {
            $("*[rel=tooltip]").tooltip({container:'body', html: true });
          });
    

           // var suite = svgDoc.onmouseover = function(e) {
            
            
           //  console.log("mohit : " + e.target.id);
           //  vacant_suite = e.target;

           //    if(e.target.getAttribute("data-tooltip"))
           //  {
           //     var tooltip = $('.map-tooltip');
               
           //     tooltip.html(e.target.getAttribute("data-tooltip"));     

           //    e.target.addEventListener('mouseenter', function() {
    
           //    var sel = this,
           //    // get the borders of the path - see this question: http://stackoverflow.com/q/10643426/863110
           //     pos = sel.getBoundingClientRect();
           //     tooltip_height = tooltip.outerHeight();
           //     tooltip_width = tooltip.outerWidth()/2;
           //     top_pos = pos.top - tooltip_height;
           //     left_pos = (pos.left + (pos.width/2)) - tooltip_width ;
           //    tooltip.css('left',left_pos +'px');
           //    tooltip.css('top', top_pos+'px');
           //    tooltip.css('display', 'block');
            

           //    });

           //    // when mouse leave hide the tooltip
           //    e.target.addEventListener('mouseleave', function(){

           //    // tooltip.style.display = 'none';
           //    tooltip.css('display', 'none');
           //    });

           //   }
            
         
           // }
             
           //    var thesuite = svgDoc.onclick = function(e) {

           //    var suiteid = e.target.id;
           //    $.get("/siteman/get_retailer_map_frontend", {suite_id: suiteid, directory_id: globaldata }, function(data){
                
           //    if(data.retailer){

           //    location.href = "/directory/view/"+data.retailer.slug;
           //    }
           //    });

           //    }

populate_left_bar_for_amenities();
      });
  
 
  };

      USGSOverlay.prototype.draw = function() {

        // We use the south-west and north-east
        // coordinates of the overlay to peg it to the correct position and size.
        // To do this, we need to retrieve the projection from the overlay.
        var overlayProjection = this.getProjection();

        // Retrieve the south-west and north-east coordinates of this overlay
        // in LatLngs and convert them to pixel coordinates.
        // We'll use these coordinates to resize the div.
        var sw = overlayProjection.fromLatLngToDivPixel(this.bounds_.getSouthWest());
        var ne = overlayProjection.fromLatLngToDivPixel(this.bounds_.getNorthEast());

        // Resize the image's div to fit the indicated dimensions.
        var div = this.div_;
        div.style.left = sw.x + 'px';
        div.style.top = ne.y + 'px';
        div.style.width = (ne.x - sw.x) + 'px';
        div.style.height = (sw.y - ne.y) + 'px';

      };

      // The onRemove() method will be called automatically from the API if
      // we ever set the overlay's map property to 'null'.
      USGSOverlay.prototype.onRemove = function() {
        this.div_.parentNode.removeChild(this.div_);
        this.div_ = null;
      };

      
</script>
<script>
    function svg_render()
    {
       $.get('/siteman/get_svg_file_for_map', { directory_id: globaldata, website_id: <%= @website.id %> }, function(data){
            window.svg_string = data;
         }).done(function() 
         {
            initMap(svg_string);
         });
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
     
      $(document).on("click",".map_level_button",function()
        {
          globaldata = $(this).attr("data-id");
          svg_render();
          
        });

    });
    

     
</script>


<script type="text/javascript">
     // $(document).on('mouseover', '*[rel=tooltip]', function(e){
       
     //    $(this).tooltip({container:'body', html: true });
     //  });
</script>

<script type="text/javascript">
// $(document).on("click",".cls-2",function()
// {
//   var suiteid = $(this).attr("id");
//   $.get("/siteman/get_retailer_map_frontend", {suite_id: suiteid, directory_id: globaldata }, function(data){

//   if(data.retailer){
//   location.href = "/directory/view/"+data.retailer.slug;
//   }
//   });

// });       
</script>
 <% end %>
 <% end %>