<!-- mobile menu -->
    <div class="link-container">
        <div class="head">
            <div class="home-btn">
               <%= link_to 'Home'.html_safe, root_path %>
            </div>
            <div class="close-btn">
                <span style="position: absolute;top: 13px; right: 37px;"></span>
                <span style="font-size: 30px;color:#000;"><i aria-hidden="true" class=
                "fa fa-times"></i></span>
            </div>
        </div>
        <div class="link-body">
            <ul class="accordion">
                <!-- 
                <li class="no-br"><a href="/bunny" onclick="ga('send', 'event', 'Bunny Happening Nav Link', 'Click', 'Bunny Main Nav');"><img src="/presents/<%= presentation_for(@webpage)%>/designs/images/easter/nav-link.png" class="img-responsive"></a></li>
                -->
              
                <!-- Holiday VIP Nav Icon
                  <%# fashion = ["Exton Square Mall","Moorestown Mall","Plymouth Meeting Mall","The Mall at Prince Georges"]%>
                  <%# if fashion.include? @website.name %>
                    <li class="no-br"><a href="/holidayvip" onclick="ga('send', 'event', 'Holiday Nav Holiday Hours', 'Click', 'Holiday Nav Anchor');"><img src="/presents/<%= presentation_for(@webpage)%>/designs/images/holidayvip/holiday-nav.png"></a></li>
                  <%# else %>
                    <li class="no-br"><a href="/holidayvip" onclick="ga('send', 'event', 'Holiday Nav Holiday Hours', 'Click', 'Holiday Nav Anchor');"><img src="/presents/<%= presentation_for(@webpage)%>/designs/images/holidayvip/holiday-nav-white.png"></a></li>
                  <%# end %>
                -->

              
                 <li class="directory" id="one">
                   <%= link_to "hours".html_safe, "/mall_hours" %>
                </li>
                <li class="directory" id="one">
                   <%= link_to "stores".html_safe, "/directory" %>
                </li>

                <li class="dine" id="two">
                    <%= link_to "dine".html_safe, "/directory/dining" %>
                </li>
                <li class="deals" id="three">
                    <%= link_to "deals".html_safe, "/sales" %>
<!--                     <ul class="sub-menu">
                        <li>
                            <%# link_to '<em>01</em>Sub Menu<span>3</span>'.html_safe, '/'%>
                        </li>
                    </ul> -->
                </li>
                <% if !@property.movie_theater.blank? %>
                    <li class="movies" id="four">
                        <%= link_to "movies".html_safe, "/movie_listings" %>
                    </li>
                <% end %> 
                <li class="events" id="five">
                   <%= link_to "events".html_safe, "/calendar" %>
                </li>
                <li class="about" id="six">
                    <%= link_to "about".html_safe, "/about_us" %>
                </li>
                <li class="jobs" id="seven">
                    <%= link_to "jobs".html_safe, "/about_us/jobs" %>
                </li>
            </ul>
        </div>
    </div><!-- end mobile menu -->