<% mallname = ["Cherry Hill Mall","Woodland Mall","Springfield Town Center", "Springfield Mall", "Valley View Mall", "Willow Grove Park","Viewmont Mall","Valley Mall","Logan Valley Mall","Patrick Henry Mall", "Dartmouth Mall", "Moorestown Mall", "Capital City Mall", "Cumberland Mall", "Exton Square", "Plymouth Meeting Mall", "Susquehanna Valley Mall","Jacksonville Mall", "Magnolia Mall", "Wyoming Valley Mall", "Francis Scott Key Mall", "The Mall at Prince Georges" ]%>
<% if mallname.include? @website.name %>
<!-- Cherry Hill Perk Modal -->
<div id="myPerk" class="modal fade perkModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">
        <i class="fa fa-times"></i>
        </button>
        <div class="btn-container">
          <a href="/preitperks">
            <div class="sign-up-btn"></div>
          </a>
        </div>
        <div class="modal-bg">
          <a href="/preitperks"><%= image_tag("/presents/#{presentation_for(@webpage)}/designs/#{design_for(@webpage)}/#{campaign_for(@webpage)}/images/PP-interstitial#{@property.property_id}.jpg") %></a>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
  <% fashion = []%>
    <% if fashion.include? @website.name %>
      <!-- Modal -->
      <div id="fashionModal" class="modal fade test-modal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">
              <div class="close" data-dismiss="modal">&times;</div>
              <div class="modal-text">
                <div class="modal-bg">
                  <%= image_tag("/presents/#{presentation_for(@webpage)}/designs/#{design_for(@webpage)}/#{campaign_for(@webpage)}/images/modal-bg.png") %>
                </div>
                <div class="jumbo">
                  win a $5,000 shopping spree
                </div>
                <div class="fine">
                  Sign up to receive exclusive offers, sales and events.
                </div>
              </div>
              <div class="offer-email">                    
                <%= render 'includes/email_preference_modal' %>
              </div>
              <!--
              <form class="signUp">
                <input type="email" id="offer-email" name="email" class="form-control email" placeholder="Enter your email address">
                <input type="submit" name="submit" class="submit-btn" value="Sign up">
              </form>
              <div class="fine-print">
                <a href="/tools">View our terms and conditions</a>
              </div>
              -->
            </div>
          </div>

        </div>
      </div>
  <% else %>
    <% family = []%>
    <% if family.include? @website.name %>
      <!-- Modal -->
      <div id="fashionModal" class="modal fade test-modal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">
              <div class="close" data-dismiss="modal">&times;</div>
              <div class="modal-text">
                <div class="modal-bg">
                  <%= image_tag("/presents/#{presentation_for(@webpage)}/designs/#{design_for(@webpage)}/#{campaign_for(@webpage)}/images/modal-bg.png") %>
                </div>
                <div class="jumbo">
                  win a $5,000 shopping spree
                </div>
                <div class="fine">
                  Sign up to receive exclusive offers, sales and events.
                </div>
              </div>
              <div class="offer-email">                    
                <%= render 'includes/email_preference_modal' %>
              </div>
            </div>
          </div>

        </div>
      </div>
  <% else %>
    <% community = []%>
    <% if community.include? @website.name %>
      <!-- Modal -->
      <div id="fashionModal" class="modal fade test-modal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">
              <div class="close" data-dismiss="modal">&times;</div>
              <div class="modal-text">
                <div class="modal-bg">
                  <%= image_tag("/presents/#{presentation_for(@webpage)}/designs/#{design_for(@webpage)}/#{campaign_for(@webpage)}/images/modal-bg.png") %>
                </div>
                <div class="jumbo">
                  <% if @property.name == "Beaver Valley Mall" %>
                  &nbsp;
                  <% else %>
                  win a $5,000 shopping spree
                  <% end %>
                </div>
                <div class="fine">
                  Sign up to receive exclusive offers, sales and events.
                </div>
              </div>
              <div class="offer-email">                    
                <%= render 'includes/email_preference_modal' %>
              </div>
            </div>
          </div>

        </div>
      </div>
  <% else %>
    <% outdoor = []%>
    <% if outdoor.include? @website.name %>
      <!-- Modal -->
      <div id="fashionModal" class="modal fade test-modal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">
              <div class="close" data-dismiss="modal">&times;</div>
              <div class="modal-text">
                <div class="modal-bg">
                  <%= image_tag("/presents/#{presentation_for(@webpage)}/designs/#{design_for(@webpage)}/#{campaign_for(@webpage)}/images/modal-bg.png") %>
                </div>
                <div class="jumbo">
                  Sign Up
                </div>
                <div class="fine">
                  Receive exclusive offers, sales and events.
                </div>
              </div>
              <div class="offer-email">                    
                <%= render 'includes/email_preference_modal' %>
              </div>
            </div>
          </div>

        </div>
      </div>
  <% else %>
    <% art = []%>
    <% if art.include? @website.name %>
      <!-- Modal -->
      <div id="fashionModal" class="modal fade test-modal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">
              <div class="close" data-dismiss="modal">&times;</div>
              <div class="modal-text">
                <div class="modal-bg">
                  <%= image_tag("/presents/#{presentation_for(@webpage)}/designs/#{design_for(@webpage)}/#{campaign_for(@webpage)}/images/modal-bg.png") %>
                </div>
                <div class="jumbo">
                  win a $5,000 shopping spree
                </div>
                <div class="fine">
                  Sign up to receive exclusive offers, sales and events.
                </div>
              </div>
              <div class="offer-email">                    
                <%= render 'includes/email_preference_modal' %>
              </div>
            </div>
          </div>

        </div>
      </div>
  <% else %>
<!-- Modal -->
  <% if @webpage.file_path != "/email_newsletter" %>
    
  <% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>

<script>
  $(document).ready(function(){
    whichBG();
  });
  $(window).resize(function(){
    whichBG();
  })

  function whichBG(){
    var windowWidth = $(window).width();
    if(windowWidth >767){
      $('.normal').html('<%= image_tag("/presents/#{presentation_for(@webpage)}/designs/#{design_for(@webpage)}/#{campaign_for(@webpage)}/images/signup-back.jpg") %>');
    }else{
      $('.normal').html('<%= image_tag("/presents/#{presentation_for(@webpage)}/designs/#{design_for(@webpage)}/#{campaign_for(@webpage)}/images/mobile-signup-back.jpg") %>');
    }
  }
</script>
