<div class="container-fluid header-container">
				<div class="top-section">
					<div class="row">
						<div class="col-5 col-sm-5 col-lg-4 top-left">
							<% if @property.today_hours[:is_closed] == "false" %>
								<a href="/mall-hours">open today: <span class="hidden-xs"><%= @property.today_hours[:open_hour] %> TO <%= @property.today_hours[:closed_hours] %></span> <span class="fas fa-angle-right"></span></a>
							<% else %>
								<a href="/mall-hours">Closed Today</a>
							<% end %>
						</div>
						<div class="col-7 col-sm-7 col-lg-8 text-right top-right">
							<ul class="hidden-xs hidden-sm">
								<% if !@property.display_address_1.blank? || !@property.display_address_2.blank? %>
									<li><a href=""><%= @property.display_address_1 %> <%= @property.display_address_2 %></a></li>
								<% end %>
								<li><a href="tel:<%= @property.main_phone %>">Phone: <%= @property.security_phone %></a></li>
								<li class="social"><a href=""><span class="fab fa-facebook-f"></span></a><a href=""><span class="fab fa-twitter"></span></a><a href=""><span class="fab fa-instagram"></span></a></li>
							</ul>
							<ul class="hidden-md hidden-lg">
								<li class="social"><a href=""><span class="fab fa-facebook-f"></span></a><a href=""><span class="fab fa-twitter"></span></a><a href=""><span class="fab fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="lower-section">
					<div class="row">
						<div class="col-7 col-sm-4 col-xl-3 lower-left">
							<a href="/"><img src="/presents/promenade/designs/images/logo.png" alt="The Promendade at Sagemore" class="img-fluid"></a>
						</div>
						<div class="col-5 col-sm-8 col-xl-9 lower-right">
							<ul class="hidden-xs hidden-sm">
								<li><a href="/directory">shop</a></li>
								<li><a href="/directory/dining">dine</a></li>
								<li><a href="/sales">deals</a></li>
								<li><a href="/events">events</a></li>
								<li><a href="/trends">trends</a></li>
								<li><a href="/info/directions">directions</a></li>
								<li>
									<a href="/info">info</a>
									<div class="sub-nav">
										<ul>
											<li><a href="/info/about-us">about us</a></li>
											<li><a href="/info/contact-us">contact us</a></li>
											<li><a href="/info/jobs">jobs</a></li>
										</ul>
									</div>
								</li>
								<li><a href=""><span class="fas fa-search"></span></a></li>
							</ul>
							<!-- Mobile Nav -->
							<div class="mobi-nav" id="mobi-head">
								<div class="menu-btn-container">
									<div id="top-bar"></div>
									<div id="mid-bar"></div>
									<div id="low-bar"></div>
									<p>menu</p>
								</div>
							</div>
						</div>
					</div>
					<div class="mobi-menu">
						<div class="mobi-link-container">
							<a href="/directory"><p>shop</p></a>
							<a href="/directory/dining"><p>dine</p></a>
							<a href="/sales"><p>deals</p></a>
							<a href="/events"><p>events</p></a>
							<a href="/trends"><p>trends</p></a>
							<a href="/info/directions"><p>directions</p></a>
							<a href="/info"><p>info</p></a>
							<a href="/info/about-us"><p>about us</p></a>
							<a href="/info/contact-us"><p>contact us</p></a>
							<a href="/info/jobs"><p>jobs</p></a>
							<a href="/terms-conditions"><p>Terms &amp; Conditions</p></a>
							<a href="/privacy-policy"><p>Privacy Policy</p></a>
						</div>
					</div>
					<script>
						$(document).ready(function(){
							mobiBtn();
						});
						function mobiBtn(){
							var isClicked = 0;
							$('.menu-btn-container').click(function(){
								if(isClicked==0){
									isClicked++;
									$('#top-bar').removeClass('topUp');
									$('#top-bar').addClass('topDown');
									$('#low-bar').removeClass('lowDown');
									$('#low-bar').addClass('lowUp');
									$('#mid-bar').addClass('hideBar');
									showMenu();
								}else{
									isClicked--;
									$('#top-bar').removeClass('topDown');
									$('#top-bar').addClass('topUp');
									$('#low-bar').removeClass('lowUp');
									$('#low-bar').addClass('lowDown');
									setTimeout(function(){
										$('#mid-bar').removeClass('hideBar');
									}, 300);
									hideMenu();
								}
							});
						}
						function showMenu(){
							var headerHeight = $('.header-container').height();
							$('.mobi-menu').css({'top': headerHeight});
							$('.mobi-menu').slideDown(500);
							$('.mobi-nav').addClass('nav-down');
						}
						function hideMenu(){
							$('.mobi-menu').slideUp(500);
						}
					</script>
					<!-- End Mobile Nav -->
				</div>
			</div>