 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpyg-F8fWvpy3Fob0wRL0SWraH7nntf2o">
 </script>

<% retailer = Retailer.where(" slug = ? AND property_id = ? ",params[:retailer_id],@property.id).first %>

<script>
window.retailer_slug = "<%= retailer.retailer_id %>";
var screen_width = window.innerWidth
|| document.documentElement.clientWidth
|| document.body.clientWidth;

var screen_height = window.innerHeight
|| document.documentElement.clientHeight
|| document.body.clientHeight;
</script>

<% if !retailer.blank? %>
<% title = @website.name + " | " + page_title + " | " + retailer.name + " | " %>
<% content_for :title, title %>
	<div class="container">
		<div class="row">
	        <div class="col-lg-12 text-center shop-header">
	           <h1><%= retailer.name %></h1>
	        </div>
	     </div>
	     <br>
	     <div class="row">
	     	<div class="col-sm-4 store-logo">
	     		
          <% if !retailer.logo_1_url.blank? %>
           <% image = retailer.logo_1_url.blank? ? "" : retailer.logo_1_url %>
            <img src="<%= image %>" alt="<%= retailer.name %>" class="img-responsive" />
           <% end %>
	     	</div>
	     	
        <div class="col-sm-4 store-info">
          <% if !retailer.option.blank? %>
            <% if !retailer.expiration_date.blank? %>
              <% if retailer.expiration_date >= Date.today %>
                <div class="info-title">Status</div>
                <div class="info-info"><%= retailer.option.gsub(/_/," ").titleize %></div>
              <% end %>
            <% end %>
          <% end %>
	     		<% suites = retailer.suites %>
          <% suites.each do |suite| %>
                <% if !suite.location_text.blank? %>
                    <div class="info-title">location</div>
                    <div class="info-info"><%= suite.location_text %></div>
                  <% end %>
                  <% if !suite.parking_info.blank? %>
                    <div class="info-title">Best Entrance</div>
                    <div class="info-info"><%= suite.parking_info %></div>
                  <% end %>
                <% end %>
                
                <% if !retailer.main_phn_num.blank? %>
                  <div class="info-title">Phone number</div>
                  <div class="info-info">
                    <a href="tel:<%= retailer.main_phn_num %>">
                      <%= retailer.main_phn_num %>
                    </a>
                  </div>
                <% end %>

                <% if !retailer.open_hrs.blank? %>
                  <div class="info-title">Open Hours</div>
                  <div class="info-info"><%= retailer.open_hrs %></div>
                <% end %>

                 <% if !retailer.menu_weblink.blank? %>
                  <div class="info-title"><%= link_to "Menu", retailer.menu_weblink, :target => "_blank" %></div>
                  <div class="info-info">
                    <%#= link_to retailer.menu_weblink, retailer.menu_weblink, :target => "_blank" %>
                  </div>
                <% end %>

                <% if !retailer.restaurant_reserv_weblink.blank? %>
                  <div class="info-title"><%= link_to "Make Reservations", retailer.restaurant_reserv_weblink, :target => "_blank" %></div>
                  <div class="info-info">
                    <%#= link_to retailer.restaurant_reserv_weblink, retailer.restaurant_reserv_weblink, :target => "_blank" %>
                  </div>
                <% end %>
                	
                <% if !retailer.facebook_url.blank? || !retailer.twitter_name.blank? || !retailer.pinterest_url.blank? || !retailer.youtube_url.blank? %>
                <div class="info-title">social media</div>
                <% end %>
                <div class="info-social">
                  <% if !retailer.facebook_url.blank? %>
                    <%= link_to "#{retailer.facebook_url}" do %>
                      <%= image_tag("/presents/eastpoint/designs/images/icons/social/social-facebook-blk.png", class: "img-responsive") %>
                    <% end %>
                  <% end %>
                  <% if !retailer.twitter_name.blank? %>
                    <%= link_to "#{retailer.twitter_name}" do %>
                      <%= image_tag("/presents/eastpoint/designs/images/icons/social/social-twitter-blk.png", class: "img-responsive") %>
                    <% end %>
                  <% end %>
                  <% if !retailer.pinterest_url.blank? %>
                    <%= link_to "#{retailer.pinterest_url}" do %>
                      <%= image_tag("/presents/eastpoint/designs/images/icons/social/social-pinterest-blk.png", class: "img-responsive") %>
                    <% end %>
                  <% end %>
                  <% if !retailer.instagram_url.blank? %>
                    <%= link_to "#{retailer.instagram_url}" do %>
                      <%= image_tag("/presents/eastpoint/designs/images/icons/social/social-instagram-blk.png", class: "img-responsive") %>
                    <% end %>
                  <% end %>
                  <% if !retailer.youtube_url.blank? %>
                    <%= link_to "#{retailer.youtube_url}" do %>
                      <%= image_tag("/presents/eastpoint/designs/images/icons/social/social-youtube-blk.png", class: "img-responsive") %>
                    <% end %>
                  <% end %>
                </div>
	     	</div>
	     	
	     		<div class="col-sm-4 info-btns">
          <% events = @website.active_events_frontend("",[retailer.id],"","","",false) %>
	               <% if !events.blank? %>
                 <div>
                    <a href="#events">
                       <button class="info-btn">
                          <i class="fa fa-calendar"></i> view events
                       </button>
                    </a>
                 </div>
                 <% end %>
                 <% deals = @website.active_deal_frontend("",[retailer.id],"","","",false) %>
                 <% if !deals.blank? %>
                 <div>
                    <a href="#deals">
                       <button class="info-btn">
                          <i class="fa fa-tag"></i> view deals
                       </button>
                    </a>
                 </div>
                 <% end %>
                 <%# if !retailer.instagram_url.blank? %>
                 <!-- <div>
                    <a href="#social">
                       <button class="info-btn">
                          <i class="fa fa-comments"></i> view social feed
                       </button>
                    </a>
                 </div> -->
                 <%# end %>
                 <% if retailer.suites.any? %>
                   <div class="hidden-xs">
                      <a href="#map">
                         <button class="info-btn">
                            <i class="fa fa-map-marker"></i> view on map
                         </button>
                      </a>
                   </div>
                 <div class="visible-xs hidden-sm map-button-wrapper">
                  <button class=" btn mobile_map_pin info-btn" type="button" data-id="<%= retailer.id %>" data-toggle="modal" data-target="#myModalmap"> <i class="fa fa-map-marker"></i> view on map</button>
                <% end %>
                  <!-- Modal -->
                  <div class="modal fade modal-map" id="myModalmap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel"><i aria-hidden="true" class="fa fa-map view-icon"></i>Map View</h4>
                           </div>
                           <div class='modal-body'>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
              </div>
            </div>
	     <% retailer_cat = retailer.categories %>
	     <% if !retailer_cat.blank? %>
		     <div class="row">
	            <div class="col-lg-12 store-tags">
              <% count = retailer_cat.count %>
              <% i = 1 %>
	            <% retailer_cat.each do |category| %>
	            	<%= link_to "/directory?category_id=#{ category.id }" do %>
	            		<%= category.name %>
                <% end %>
                <% if count != i %>
                      /
	            	<% end %>
                <% i = i + 1 %>
	            <% end %>
	            </div>
	         </div>
         <% end %>
         <% if !retailer.description.blank? %>
	         <div class="row">
	            <div class="col-sm-12 store-desc">
	               <%= retailer.description.html_safe %>
	            </div>
	         </div>
         <% end %>
       </div>
       <div class="container-fluid">
        <% events = @website.active_events_frontend("",[retailer.id],"","","",false) %>
        <% if !events.blank? %>
        <div id="events" class="row">
            <div class="col-lg-12 text-center info-event-header">
            <h2 name="events">EVENTS</h2>
               <div class="divider"></div>
            </div>
        </div>

	        <div class="row">
	        	<div class="more-slider event-img-container" style="padding-left:10px;">
	        		<% events.each do |event| %>
	        			<div>
	        				<% image = event.thumb_path.blank? ? "/noimage.gif" : event.thumb_path %>

	        				<%= link_to "/calendar/view/#{event.id}" do %>
						      	<%= image_tag(image, class: "img-responsive", alt: event.thumb_desc) %>
			                <% end %>
			                <div class="small-divider"></div>
			                <div class="more-desc">
		                    	<% if event.retailer_id != -1 %>
  			                    <%= link_to "/directory/dining/dine_details/#{event.retailer(@property.id).slug}" do %>
  						                <div class="title"><%= event.retailer(@property.id).name %></div>
  						              <% end %>
			                    <% end %>
			                    <div class="body">
				                    <%= link_to "/calendar/view/#{event.id}" do %>
						                <p><%= event.title %></p>
						              <% end %>
				                    <% if event.is_date_display %>
				                    	<p class="up-10 expire">valid <%= date_range(event.start_at,event.end_at) %></p>
				                    <% end %>	
                            <% if event.is_time_display %>
                              <p class="up-10 expire">TIME <%= time_range(event.start_time,event.end_time) %></p>
                            <% end %> 
			                    </div>
		                    </div>
	        			</div>
	        		<% end %>
	        	</div>
	        </div>
	    <% end %>
    </div>
    <% deals = @website.active_deal_frontend("",[retailer.id],"","","",false) %>
    <% if !deals.blank? %>
      <div class="deals-spot" id="deals">
      <section class="more-container deals-container">
        <div id="deals" class="heading">deals</div>
        <span name="deals"></span>
        <div class="divider"></div>
        <div id="fiatmRetailerDeals" style="padding-left:10px;">
            <% deals.each do |deal| %>
            	<div>
					<% image = deal.thumb_path.blank? ? "/noimage.gif" : deal.thumb_path %>
	                <%= link_to "/sales/view/#{deal.id}" do %>
				      	<%= image_tag(image, class: "img-responsive", alt: deal.thumb_desc) %>
	                <% end %>
	                <div class="small-divider"></div>
	                <div class="more-desc">
	                	<% if deal.retailer_id != -1 %>
	                    	<%= link_to "/directory/dining/dine_details/#{deal.retailer(@property.id).slug}" do %>
				                <div class="title"><%= deal.retailer(@property.id).name %></div>
				              <% end %>
	                    <% end %>
	                    <div class="body">
		                    <%= link_to "/sales/view/#{deal.id}" do %>
				                <p><%= deal.title %></p>
				              <% end %>
		                    <% if deal.is_date_display %>
		                    	<p class="up-10 expire">valid <%= date_range(deal.start_at,deal.end_at) %></p>
		                    <% end %>	
	                    </div>
	                </div>
	            </div>
	           <% end %> 
            </div>
         </section>    
      </div>
    <% end %>
      <% if retailer.suites.any? %>
         <div class="retailer_detail_map container hidden-xs" style="padding-top:50px;padding-bottom:50px;">
          <div class="row">
            <div class="col-sm-12 text-center view-heading">
              <div class="heading" name="map">map of location</div>
              <div class="divider"></div>
            </div>
          </div>
          <br />
        <section class="map-container hidden-xs" style="border:1px solid #999;padding-bottom:0px;">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12 text-center">
                  <div class="heading" name="map">map of location</div>
                  <div class="divider"></div>
                  <br />
                  
                  <script type="text/javascript">
                  
            if (screen_width <= "767")
            {
               <% if !retailer.suites.blank? %>
               <% suite = retailer.suites.first %>
               <% if !suite.latitude.blank? && !suite.longitude.blank? %>
               <% mob_lat = suite.latitude.to_f %>
               <% mob_lng = suite.longitude.to_f %>
               <% else %>
               <% mob_lat = mob_lng = "" %>
               <% end %>
               <% end %>
              window.mob_lat = "<%= mob_lat %>";
              window.mob_lng = "<%= mob_lng %>";
              
              if (navigator.userAgent.match(/iPhone|iPad|iPod/i))
              {

                // $(".mobile_directory_map").on("click",function()
                // {
                //   $(".modal-body").html("<%= escape_javascript(render partial: 'includes/map_for_IOS') %>");
                // });

              $(document).on("click",".mobile_map_pin",function(){
              window.pin_click = true;
              suite_array = Array.new;
              $.get('/siteman/get_retailer_for_map_pin', { id: $(this).attr("data-id") }, function(data){
                  suite_array = data;
                  
                  $(".modal-body").html("<%= escape_javascript(render partial: 'includes/map_for_pin_IOS') %>");

              });
                
                                
            });

                   
          }
              else
              {
                // $(".mobile_directory_map").on("click",function()
                // {
                //   $(".modal-body").html("<%= escape_javascript(render partial: 'includes/retailer_suite_maps') %>");
                // });

              $(document).on("click",".mobile_map_pin",function(){
              
              window.pin_click = true;
              suite_array = Array.new;
              $.get('/siteman/get_retailer_for_map_pin', { id: $(this).attr("data-id") }, function(data){
                  suite_array = data;
                  
                  $(".modal-body").html("<%= escape_javascript(render partial: 'includes/map_for_pin') %>");

              });
                
                                
            });
            }
              // $(".modal-body").html("<%= escape_javascript render(:partial => 'includes/map', :locals => { :retailer => retailer }) %>");
            }
            else
            {
              $(".map-container").html("<%= escape_javascript render(:partial => 'includes/map', :locals => { :retailer => retailer }) %>");
            }
         </script>
               </div>
            </div>
         </div>
      </section>
	</div>
  <% end %>
<% else %>
<% title = @website.name + " | " + page_title %>
<% content_for :title, title %>
	<p> Invalid Retailer Id. </p>
<% end %>
<script type="text/javascript">
$(document).ready(function(){
      
      var showmap = sessionStorage.getItem('showmap_dining');
       if (showmap) 
      {
        if($(".map-container").length)
        {
          $(window).scrollTop($('.map-container').offset().top);
        }
        sessionStorage.removeItem("showmap_dining");
      }
      $(document).on("click",".info-btn",function(){
          
          // svg_render();
      });
      
      $(".modal-map").on("shown.bs.modal", function () {

        google.maps.event.trigger(map, "resize");
        var reCenter = new google.maps.LatLng(window.mob_lat, window.mob_lng);
        map.setCenter(reCenter);
      });
	
    
    $(document).on("click",".map-button",function(){
      
      svg_render();

    });


		$(function() {
              $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                  var target = $(this.hash);
                  var fromTop = $(".header-bottom").height()+35;
                  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                  if (target.length) {
                    $('html, body').animate({
                      scrollTop: $(target).offset().top - fromTop
                    }, 750);
                    return false;
                  }
                }
              });
          });
		$('.more-slider').slick({
            centerMode: true,
            centerPadding: '100px',
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
            cssEase: 'ease',
            prevArrow: '<div class="prevArrow hidden"></div>',
            nextArrow: '<div class="nextArrow hidden"></div>',
            responsive: [
               {
                  breakpoint: 2600,
                  settings: {
                    slidesToShow: 7,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: false
                  }
               },
               {
                  breakpoint: 2030,
                  settings: {
                    slidesToShow: 6,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: false
                  }
               },
               {
                  breakpoint: 1740,
                  settings: {
                    slidesToShow: 5,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: false
                  }
               },
               {
                  breakpoint: 1450,
                  settings: {
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: false
                  }
               },
               {
                  breakpoint: 1160,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: false
                  }
               },
               {
                  breakpoint: 870,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: false
                  }
               },
               {
                  breakpoint: 600,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                  }
               },
               {
                  breakpoint: 415,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
               }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
         });
         $('.more-slider').mouseenter(function(){
            $(this).find('.nextArrow').removeClass('hidden');
         });
         $('.more-slider').mouseleave(function(){
            $(this).find('.nextArrow').addClass('hidden');
         });
         $('.more-slider').mouseenter(function(){
            $(this).find('.prevArrow').removeClass('hidden');
         });
         $('.more-slider').mouseleave(function(){
            $(this).find('.prevArrow').addClass('hidden');
         });
	});
</script>	
